<main id="main">
  <section>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-xl-8 col-md-8 col-sm-7 col-7">
          <h4 class="text-theme mb-4"><strong>All Case Studies</strong></h4>
        </div>
        <!-- <div class="col-lg-4 col-xl-4 col-md-4 col-sm-5 col-5 text-end">
          <button class="btn btn-primary btn-sm me-2" (click)="goBack()">
            Back to List
          </button>
        </div> -->
      </div>
      <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12">
        <div class="Flatcard shadow-1 mt-4 border">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-middle">
                                                           <thead class="table-light">
                             <tr>
                               <th>Case Study</th>
                               <th>Supplier Name</th>
                               <th>Industry</th>
                               <th>Type</th>
                               <th>Technologies</th>
                               <th>Created Date</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngIf="!caseStudiesList?.length">
                               <td colspan="6">
                                 <app-no-record-found></app-no-record-found>
                               </td>
                             </tr>
                             <tr *ngFor="let item of caseStudiesList | paginate: { itemsPerPage: pagesize, currentPage: page, totalItems: totalRecords }">
                               <td>{{ item.name }}</td>
                               <td>{{ item.userId?.companyName }}</td>
                               <td>{{ item.industry }}</td>
                               <td>{{ item.type }}</td>
                               <td>{{ item.technologies?.join(', ') }}</td>
                               <td>{{ item.createdAt | date:'dd/MM/yyyy' }}</td>
                             </tr>
                </tbody>
              </table>
            </div>
            <div class="row mt-3 align-items-center">
              <div class="row">
                <div class="pagination">
                  <pagination-controls (pageChange)="paginate($event)" [idMaxSize]="100"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


