<section>
  <div class="container-fluids mb-3">
    <div class="row align-items-center">
      <nav>
        <ul class="projects-nav-tab">
          <li routerLink="/super-admin/todo-tasks">
            <a>List View</a>
          </li>
          <li routerLink="/super-admin/resources-productivity-view">
            <a  class="active">Resources Productivity View</a>
          </li>
          <li routerLink="/super-admin/team-productivity-view">
            <a>Team Productivity View</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
