.col-form-label {
  position: relative;
}

.col-form-label:has(*) {
  color: #dc3545;
  margin-left: 2px;
}

.form-control.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.form-control.ng-invalid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.form-select.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.form-select.ng-invalid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
