<main id="main">
  <section>
    <div class="container-fluid mb-5">
      <div class="row">
        <div class="col-12 mb-3">
          <h4 class="text-theme"><strong>Welcome Admin</strong></h4>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio-button" id="radioDaily" value="option1">
            <label class="form-check-label" for="radioDaily">Daily</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio-button" id="radioWeekly" value="option2">
            <label class="form-check-label" for="radioWeekly">Weekly</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio-button" id="radioMonthly" value="option3">
            <label class="form-check-label" for="radioMonthly">Monthly</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio-button" id="radioYearly" value="option4">
            <label class="form-check-label" for="radioYearly">Yearly</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-12">
          <div class="statistic-card">
            <div class="card-header card-header-blue">
              <h5 class="mb-0">Projects Report</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="ProjectStatistic">
                    <h2>{{superdashboardlist?.projectsPosted?.count
                      }}</h2>
                    <p>Projects Posted</p>
                    <!-- <p class="text-success">Value: 10M GBP</p> -->
                    <p class="text-success">Value: {{superdashboardlist?.projectsPosted?.value}} GBP</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="ProjectStatistic">
                    <h2>{{superdashboardlist?.projectsMatched?.count
                      }}</h2>
                    <p>Projects Matched</p>
                    <p class="text-success">Value: {{superdashboardlist?.projectsMatched?.value}} GBP</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="ProjectStatistic">
                    <h2>{{superdashboardlist?.projectsClosed?.count
                      }}</h2>
                    <p>Projects Closed</p>
                    <p class="text-success">Value: {{superdashboardlist?.projectsClosed?.value}} GBP</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="ProjectStatistic">
                    <h2>{{superdashboardlist?.projectsInSolution?.count
                      }}</h2>
                    <p>In-Solution</p>
                    <p class="text-success">Value: {{superdashboardlist?.projectsInSolution?.value}} GBP</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="ProjectStatistic">
                    <h2>{{superdashboardlist?.projectsInSubmission?.count
                      }}</h2>
                    <p>In-Submission</p>
                    <p class="text-success">Value: {{superdashboardlist?.projectsInSubmission?.value}} GBP</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="ProjectStatistic">
                    <h2>{{superdashboardlist?.projectsInReview?.count
                      }}</h2>
                    <p>In-Review</p>
                    <p class="text-success">Value: {{superdashboardlist?.projectsInReview?.value}} GBP</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="ProjectStatistic">
                    <h2>{{superdashboardlist?.TotalSubmitted?.count
                      }}</h2>
                    <p>Total Submitted</p>
                    <p class="text-success">Value: {{superdashboardlist?.TotalSubmitted?.value}} GBP</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="ProjectStatistic">
                    <h2>{{superdashboardlist?.projectsAwarded?.count
                      }}</h2>
                    <p>Awarded</p>
                    <p class="text-success">Value: {{superdashboardlist?.projectsAwarded?.value}} GBP</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="ProjectStatistic">
                    <h2>{{superdashboardlist?.projectsNotAwarded?.count
                      }}</h2>
                    <p>Not Awarded</p>
                    <p class="text-success">Value: {{superdashboardlist?.projectsNotAwarded?.value}} GBP</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-xl-6 col-12">
          <div class="statistic-card">
            <div class="card-body">
              <h5 class="text-theme"><strong>Suppliers Statistics</strong></h5>
              <p class="p-13">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Last Week</p>
              <!-- <canvas id="barChart"></canvas> -->
              <div>
                <canvas id="canvas">{{chart}}</canvas>
              </div>
            </div>
          </div>
          <!-- <a href="javascript:;" class="btn btn-primarysm full-rounded w-100">View in Details</a> -->
          <!-- <div class="statistic-card">
            <div class="card-body">
              <h5 class="text-theme"><strong>Suppliers Statistics</strong></h5>
              <p class="p-13">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Last Week</p>
              <p>Insert Angular chart Here</p>
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="statistic-card">
        <div class="card-header card-header-blue">
          <h5 class="mb-0">Category Wise Report</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-lg-2 col-xl-2 col-md-3 col-sm-3 col-12 text-center">
              <div class="progress" data-percentage="10">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">
                  <div>
                    {{superdashboardlist?.categoryWise?.WebDevelopment}}<br><span>Projects</span>
                  </div>
                </div>
              </div>
              <p><strong>Web Development</strong></p>
            </div>
            <div class="col-lg-2 col-xl-2 col-md-3 col-sm-3 col-12 text-center">
              <div class="progress" data-percentage="30">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">
                  <div>
                    {{superdashboardlist?.categoryWise?.Testing}}<br><span>Projects</span>
                  </div>
                </div>
              </div>
              <p><strong>Testing</strong></p>
            </div>
            <div class="col-lg-2 col-xl-2 col-md-3 col-sm-3 col-12 text-center">
              <div class="progress" data-percentage="50">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">
                  <div>
                    {{superdashboardlist?.categoryWise?.DataBase}}<br><span>Projects</span>
                  </div>
                </div>
              </div>
              <p><strong>Data Base</strong></p>
            </div>
            <div class="col-lg-2 col-xl-2 col-md-3 col-sm-3 col-12 text-center">
              <div class="progress" data-percentage="70">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">
                  <div>
                    {{superdashboardlist?.categoryWise?.Andoid}}<br><span>Projects</span>
                  </div>
                </div>
              </div>
              <p><strong>Android</strong></p>
            </div>
            <div class="col-lg-2 col-xl-2 col-md-3 col-sm-3 col-12 text-center">
              <div class="progress" data-percentage="100">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">
                  <div>
                    {{superdashboardlist?.categoryWise?.ArtificialIntelligence}}<br><span>Projects</span>
                  </div>
                </div>
              </div>
              <p><strong>Artificial Intelligence</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main><!-- End #main -->