@media (min-width: 320px) and (max-width: 767px)
{
 ul.projects-nav-tab{
   display: block;
   background-color: transparent;
 }
 ul.projects-nav-tab li{
   display: block;
 }
 ul.projects-nav-tab li a{
   border-radius: 100px;
   padding:0.75rem;
   border: 1px solid #d9d9d9 !important;
   margin-bottom: 15px;
 }
}
