<main id="main">
    <section>
        <div class="container-fluids mb-3">
            <div class="row align-items-center">
                <nav>
                    <ul class="projects-nav-tab">
                        <li routerLink="/super-admin/gap-analysis"><a >Failed</a></li>
                        <li routerLink="/super-admin/dropped-after-feasibility-gap-analysis"><a class="active">⁠Dropped after
                                Feasibility</a>
                        </li>
                        <li routerLink="/super-admin/no-supplier-matched-gap-analysis"><a>No Supplier Matched</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container-fluid mb-3">
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-12">
                    <div class="statistic-card">
                        <div class="card-body">
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <h5 class="text-theme mb-0"><strong>Dropped after Feasibility</strong></h5>
                                <form class="d-flex align-items-center gap-2">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="DD-MM-YYYY"
                                            [formControl]="trackerStartDate" ngbDatepicker
                                            #startDatePicker="ngbDatepicker" />
                                        <button class="btn btn-outline-secondary bi bi-calendar3"
                                            (click)="startDatePicker.toggle()" type="button">
                                        </button>
                                    </div>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="DD-MM-YYYY"
                                            [formControl]="trackerEndDate" ngbDatepicker
                                            #endDatePicker="ngbDatepicker" />
                                        <button class="btn btn-outline-secondary bi bi-calendar3"
                                            (click)="endDatePicker.toggle()" type="button">
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive mt-5 mb-3">
                                <table class="table table-striped align-middle">
                                    <thead>
                                        <tr>
                                            <th width="200px">Tags</th>
                                            <th>Total Projects</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td *ngIf="!gapAnalysisDataDropped?.length" colspan="3">
                                                <app-no-record-found></app-no-record-found>
                                            </td>
                                        </tr>
                                        <tr
                                            *ngFor="let item of gapAnalysisDataDropped | paginate: { itemsPerPage: pagesize, currentPage: page, totalItems: totalRecords }; let i = index">
                                            <td>{{ item?.tag }}</td>
                                            <td>{{ item?.projectCount }}</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" style="cursor: pointer;"
                                                    data-bs-toggle="modal" data-bs-target="#viewAllProjects"
                                                    (click)="showProjects(item?.projects)">View </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mt-3 align-items-center">
                                <div class="row">
                                    <div class="pagination">
                                        <pagination-controls (pageChange)="paginate($event)" [idMaxSize]="100"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>