<main id="main">
  <section>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
          <div class="form-group mb-0">
            <span class="input-icon"><i class="bi bi-search"></i></span>
            <input type="search" class="form-control control-search" placeholder="Search">
          </div>
        </div>
      </div>
      <div class="table-responsive mt-5 mb-3">
        <table class="table table-striped align-middle">
          <thead>
            <tr>
              <th width="200px">Project Title</th>
              <th>BOS ID</th>
              <th>Publish Date</th>
              <th>Category</th>
              <th>Value</th>
              <th>Status</th>
              <th>Project Start Date</th>
              <th>Project End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of projectList |  paginate: { itemsPerPage: pagesize , currentPage: page, totalItems: totalRecords } ; let i = index">
              <td><a href="javascript:;">{{item?.projectName}}</a></td>
              <td v-align="middle">{{item?.BOSID}}</td>
              <td>{{item?.publishDate | date:'dd/MM/yyyy'}}</td>
              <td>{{item?.category}}</td>
              <td>£ {{item?.value}}</td>
              <td>{{item?.status}}</td>
              <td>{{item?.periodOfContractStart | date:'dd/MM/yyyy'}}</td>
              <td>{{item?.periodOfContractEnd | date:'dd/MM/yyyy'}}</td>
              <td>
                <a href="javascript:;" class="btn btn-sm btn-primarysm" (click)="projectDetails(item?._id)"
                  title="View Details">View Project</a>
              </td>
          </tbody>
        </table>
      </div>

      <div class="row mt-3 align-items-center">
        <div class="row">
          <div class="pagination">
            <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
          </div>
        </div>
      </div>

    </div>
  </section>

</main><!-- End #main -->