<main id="main">
  <section class="casestudy-section">
    <div class="container-fluids mb-3">
      <div class="row align-items-center">
        <nav>
          <ul class="projects-nav-tab">
            <li routerLink="/super-admin/supplier-user-profile">
              <a>Profile</a>
            </li>
            <li routerLink="/super-admin/admin-case-study-list">
              <a>Historical Data</a>
            </li>
            <li routerLink="/super-admin/expertise-list">
              <a>Case Studies</a>
            </li>
            <li routerLink="/super-admin/resources-list">
              <a>Resources</a>
            </li>
            <li routerLink="/super-admin/supplier-wise-project-list">
              <a>Projects</a>
            </li>
            <li routerLink="/super-admin/supplier-user-activity">
              <a class="active">Activity</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
        <div class="col-12">
          <h4 class="text-theme"><strong>Supplier Login Activity</strong></h4><br>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Login Time</th>
                  <th>Login Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!supplierActivityList?.length">
                  <td colspan="3" class="text-center">
                    <app-no-record-found></app-no-record-found>
                  </td>
                </tr>
                <tr *ngFor="let activity of supplierActivityList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ activity.loginTime }}</td>
                  <td>{{ activity.createdAt | date:'medium' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>