table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

@media (min-width: 320px) and (max-width: 767px) {
  ul.projects-nav-tab {
    display: block;
    background-color: transparent;
  }

  ul.projects-nav-tab li {
    display: block;
  }

  ul.projects-nav-tab li a {
    border-radius: 100px;
    padding: 0.75rem;
    border: 1px solid #d9d9d9 !important;
    margin-bottom: 15px;
  }
}
ul.taskuserList{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.taskuserList li{
  display: inline-block;
  padding: 5px 10px;
  background-color: #F5F5F5;
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-right: 15px;
}