<main id="main">
    <section>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12 col-xl-12 col-12 d-flex align-items-center justify-content-between mb-3">
                    <div class="d-flex align-items-center">
                        <h5 class="me-3"><strong>Project Title:</strong></h5>
                        <h6>{{ projectDetails?.projectName }}</h6>
                    </div>

                    <a routerLink="/super-admin/status-wise-tracker" class="btn btn-primary text-dark">
                        Back
                    </a>
                </div>
            </div>

            <div class="col-lg-12 col-xl-12 col-12 mb-12 mt-5 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2"><strong>BOS ID:</strong></div>
                            <div class="col-md-10">{{ projectDetails?.BOSID || "-" }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Publish Date:</strong></div>
                            <div class="col-md-10">
                                {{
                                projectDetails?.publishDate
                                ? (projectDetails?.publishDate | date : "dd/MM/yyyy")
                                : "-"
                                }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Category:</strong></div>
                            <div class="col-md-10">{{ projectDetails?.category || "-" }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Industry:</strong></div>
                            <div class="col-md-10">{{ projectDetails?.industry || "-" }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Min value (GBP):</strong></div>
                            <div class="col-md-10">
                                GBP {{ projectDetails?.minValue || "-" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Max value (GBP):</strong></div>
                            <div class="col-md-10">
                                GBP {{ projectDetails?.maxValue || "-" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Website:</strong></div>
                            <div class="col-md-10">{{ projectDetails?.website || "-" }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Link to notice:</strong></div>
                            <div class="col-md-10">
                                <a *ngIf="projectDetails?.link; else noLink" href="{{ projectDetails?.link }}"
                                    target="_blank">Link to
                                    Notice</a>
                                <ng-template #noLink>-</ng-template>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Created Date:</strong></div>
                            <div class="col-md-10">
                                {{
                                projectDetails?.createdAt
                                ? (projectDetails?.createdAt | date : "dd/MM/yyyy")
                                : "-"
                                }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Due Date & Time:</strong></div>
                            <div class="col-md-10">
                                {{
                                projectDetails?.dueDate
                                ? (projectDetails?.dueDate | date : "dd/MM/yyyy, h:mm a")
                                : "-"
                                }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>CPV Codes:</strong></div>
                            <div class="col-md-10">{{ projectDetails?.CPVCodes || "-" }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Notice Reference:</strong></div>
                            <div class="col-md-10">
                                {{ projectDetails?.noticeReference || "-" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Status:</strong></div>
                            <div class="col-md-10" [ngClass]="{
                    'text-success': projectDetails?.status === 'Passed',
                    'text-danger': projectDetails?.status === 'Fail'
                  }">
                                {{ projectDetails?.status || "-" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Project Type:</strong></div>
                            <div class="col-md-10">
                                {{ projectDetails?.projectType || "-" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Mail Id:</strong></div>
                            <div class="col-md-10">{{ projectDetails?.mailID || "-" }}</div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"><strong>Client Type:</strong></div>
                            <div class="col-md-10">
                                {{ projectDetails?.clientType || "-" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Client Name:</strong></div>
                            <div class="col-md-10">
                                {{ projectDetails?.clientName || "-" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="loginUser?.role === 'ProcessManagerAdmin'">
                <div class="col-md-2"><strong>Select Assign User:</strong></div>
                <ng-select id="assignTo" class="form-select custom-ng-select-option" placeholder="Select Assign User"
                    [multiple]="true" bindLabel="userName" bindValue="_id" [items]="userList"
                    [(ngModel)]="projectDetails.assignedUsers"
                    (change)="appointFeasibilityUser(projectDetails.assignedUsers, projectDetails)">
                </ng-select>
            </div><br />

            <section class="pageheader bg-dark">
                <div class="container">
                    <p><strong>Project Description</strong></p>
                </div>
            </section>
            <br />

            <p>{{ projectDetails?.description }}</p>

            <section class="pageheader bg-dark">
                <div class="container">
                    <p><strong>Comments</strong></p>
                </div>
            </section><br />

            <div class="modal-body d-flex">
                <div class="flex-grow-1 pe-3">
                    <div class="comments-section">
                        <ng-container *ngIf="commentData!.length > 0; else noTasks">
                            <div *ngFor="let comment of commentData" class="task-item">
                                <ng-container *ngIf="comment?.userDetails">
                                    <div class="comment mb-3">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-0 fw-bold">{{ comment?.userDetails?.name }}</p>
                                            <small class="text-muted">
                                                {{ comment?.date | date: 'M/d/yy, h:mm a' }}
                                            </small>
                                        </div>
                                        <small class="text-muted d-block"><strong>Status :</strong> {{ comment?.status
                                            }}</small>
                                        <p class="mt-2">{{ comment?.comment }}</p>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                    <ng-template #noTasks>
                        <p class="text-muted">No status comments available.</p>
                    </ng-template>
                </div>
            </div>

            <div class="modal-body d-flex">
                <div class="flex-grow-1 pe-3">
                    <div class="comments-section">
                        <ng-container>
                            <div *ngFor="let task of filteredTasks" class="task-item">
                                <ng-container *ngIf="task?.comments?.length > 0; else noComments">
                                    <div *ngFor="let comment of task.comments" class="comment mb-3">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-0 fw-bold">{{ comment?.userDetail?.name }}</p>
                                            <small class="text-muted">
                                                {{ comment?.date | date: 'M/d/yy, h:mm a' }}
                                            </small>
                                        </div>
                                        <small class="text-muted d-block">{{ comment?.userDetail?.role }}</small>
                                        <p class="mt-2">{{ comment?.comment }}</p>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <ng-template #noComments>
                <p class="text-muted">No comments available.</p>
            </ng-template>

            <section class="pageheader bg-dark">
                <div class="container ">
                    <p><strong>Project Logs</strong></p>
                </div>
            </section><br>

            <div class="modal-body d-flex">
                <div class="flex-grow-1 pe-3">
                    <div class="comments-section">

                        <div *ngIf="logs?.length > 3" class="text-end mt-3">
                            <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#ViewProjectLogs">
                                View All
                            </a>
                        </div>
                        <!-- List of logs -->
                        <ul class="SecondarytaskList mt-3">
                            <li *ngFor="let log of (showAllLogs ? logs : logs.slice(0, 3))" class="mb-3">
                                <div class="comment-item">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-0" [innerHTML]="log?.log"></p>
                                        <span class="text-muted">
                                            {{ log?.date | date: 'M/d/yy, h:mm a' }}
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <!-- No records found -->
                        <p *ngIf="logs?.length === 0" class="text-center">
                            No Logs available.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

<!-- View Document Modal -->
<div class="modal fade" id="ViewDocumentModal" tabindex="-1" aria-labelledby="ViewDocumentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="display: flex; justify-content: space-between">
                <h5 class="modal-title" id="ViewDocumentModalLabel">
                    FOI Document ({{ selectedDocument?.name }})
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="isPdf(selectedDocument?.link?.url); else otherFormats">
                    <ngx-extended-pdf-viewer [src]="selectedDocument?.link?.url" useBrowserLocale="true"
                        height="600px"></ngx-extended-pdf-viewer>
                </ng-container>
                <ng-template #otherFormats>
                    <iframe *ngIf="isWordOrExcel(selectedDocument?.link?.url)"
                        [src]="getDocumentViewerUrl(selectedDocument?.link?.url)"
                        style="width: 100%; height: 600px"></iframe>
                    <img *ngIf="isImage(selectedDocument?.link?.url)" [src]="selectedDocument?.link?.url"
                        class="img-fluid" />
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>