<main id="main" class="pt-3">
  <section class="p-0">
      <div class="table-responsive">
          <table class="table table-striped align-middle">
            <thead>
              <tr>
                <th width="10%"></th>
                <th width="12%">Project Title</th>
                <th width="5%">BOS ID</th>
                <th width="5%">Publish Date</th>
                <th width="5%">Category</th>
                <th width="5%">Industry</th>
                <th width="5%">Value</th>
                <th width="5%">Website</th>
                <th width="5%">Link to notice</th>
                <th width="8%">Created Date</th>
                <th width="5%">Status</th>
                <th width="10%">Due Date & Time</th>
                <th width="15%"></th>
                <th  width="12%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>  </td>
                <td class="text-primary">Provision of MyBedsLife Student Engagement App Support Services</td>
                <td>546552</td>
                <td>2023-05-31</td>
                <td>Website</td>
                <td>School</td>
                <td>£50000</td>
                <td>Proactis</td>
                <td><a href="#">Link</a></td>
                <td>08-04-2024</td>
                <td>Status</td>
                <td>25-11-2014 & 5:00PM</td>
                <td><button routerLink="/project-manager/project/match-project-details" class="btn btn-sm btn-primary px-2 py-1 fonts-12" style="white-space: nowrap;">View Matched Suppliers</button></td>
                <td></td>
              </tr>
              <tr>
                  <td>  </td>
                  <td class="text-primary">Provision of MyBedsLife Student Engagement App Support Services</td>
                  <td>546552</td>
                  <td>2023-05-31</td>
                  <td>Website</td>
                  <td>School</td>
                  <td>£50000</td>
                  <td>Proactis</td>
                  <td><a href="#">Link</a></td>
                  <td>08-04-2024</td>
                  <td>Status</td>
                  <td>25-11-2014 & 5:00PM</td>
                  <td><button routerLink="/project-manager/project/match-project-details" class="btn btn-sm btn-primary px-2 py-1 fonts-12" style="white-space: nowrap;">View Matched Suppliers</button></td>
                  <td></td>
                </tr>
                <tr>
                  <td>  </td>
                  <td class="text-primary">Provision of MyBedsLife Student Engagement App Support Services</td>
                  <td>546552</td>
                  <td>2023-05-31</td>
                  <td>Website</td>
                  <td>School</td>
                  <td>£50000</td>
                  <td>Proactis</td>
                  <td><a href="#">Link</a></td>
                  <td>08-04-2024</td>
                  <td>Status</td>
                  <td>25-11-2014 & 5:00PM</td>
                  <td><button routerLink="/project-manager/project/match-project-details" class="btn btn-sm btn-primary px-2 py-1 fonts-12" style="white-space: nowrap;">View Matched Suppliers</button></td>
                  <td></td>
                </tr>
            </tbody>
          </table>
        </div>
  </section>
</main>
