.table td {
  font-weight: normal ;
  font-size: 14px;
}
.projects-nav-tab li.active {
  font-weight: bold;
  color: #007bff;
}

.FlatCard {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.border-radius6 {
  border-radius: 6px;

}
.FlatCard .card-body {
  padding: 1rem;
}
.FlatCard .card-header{
  background-color: #007f83;
  padding: 1rem;
  color: #FFF;
  border-radius: 6px 6px 0 0;
}

.FlatCard {
transition: transform 0.3s ease; /* Smooth zoom transition */
transform-origin: center center; /* Zoom origin */
border-radius: 6px;
cursor: pointer;
}

.FlatCard:hover {
transform: scale(1.03); /* Zoom the card by 5% */
border: 1px solid rgb(255, 165, 165);
}

/* Ensure the text inside doesn't zoom */
.FlatCard * {
transition: none; /* Disable transition on all children elements */
}
.text-bold {
  font-size: 18px;
  font-weight: bolder;
}
#accordianTodoList .accordion-button::after,
#accordianCompletedTodoList .accordion-button::after{
    margin-right: 0px;
}
#accordianTodoList .accordion-button:first-child.accordion-button::after{
    display: none;
}
#accordianTodoList .accordion-item,
#accordianCompletedTodoList .accordion-item{
    border: 1px solid #D9D9D9 !important;
    margin-bottom: 15px;
}
.task-icon{
    font-size: 12px;
    margin-right: 10px;
}
ul.SecondarytaskList {
    margin: 0;
    padding: 0;
}
ul.SecondarytaskList li{
    display: block;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #D9D9D9;
}
.sidebar-widget{
    background-color: #F5F5F5;
    border: 1px solid #F0F0F0;
    padding: 15px 0;
    position: relative;
    height: 100%;
}
ul.sidebar-nav{
    margin: 0;
    padding: 0;
}
ul.sidebar-nav li{
    display: block;
}
ul.sidebar-nav li a{
    display: block;
    padding: 10px 15px;
    color: #303030;
}
ul.sidebar-nav li a:hover, ul.sidebar-nav li a.active {    
    color: #FFF;
    background-color: #0d6efd;
}
.bluetext{
    color: #0d6efd;
}
ul.taskuserList{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.taskuserList li{
    display: inline-block;
    padding: 5px 10px;
    background-color: #F5F5F5;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-right: 15px;
}
ul.Listgroup{
    margin: 0;
    margin-bottom: 15px;
    padding: 0 22px;
    list-style-type: none;
}
ul.Listgroup li{
    display: block;
    padding: 10px 0;
}
ul.Listgroup li .action-mark{
    display: inline-block;
    float: right;
    cursor: pointer;
}

ul.todo-actionList{
margin: 0;
padding: 0;
list-style-type: none;
}
ul.todo-actionList li{
   display: block;
}
ul.todo-actionList li a{
    padding: 10px 15px;
    background-color: #FFF;
    color: #303030;
    margin-bottom: 5px;
    display: block;
 }
 ul.todo-actionList li a:hover{
   color: #0d6efd;
 }
 .sidebar-footer-nav{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 90%;
 }
 .action-button{
    color: #303030;
    cursor: pointer;
 }
 .action-button:hover{
    color: #0d6efd;
 }