.table td {
  font-weight: bold;
  font-size: 14px;
}
.projects-nav-tab li.active {
  font-weight: bold;
  color: #007bff;
}

.FlatCard {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.border-radius6 {
  border-radius: 6px;

}
.FlatCard .card-body {
  padding: 1rem;
}
.FlatCard .card-header{
  background-color: #007f83;
  padding: 1rem;
  color: #FFF;
  border-radius: 6px 6px 0 0;
}

.FlatCard {
transition: transform 0.3s ease; /* Smooth zoom transition */
transform-origin: center center; /* Zoom origin */
border-radius: 6px;
cursor: pointer;
}

.FlatCard:hover {
transform: scale(1.03); /* Zoom the card by 5% */
border: 1px solid rgb(255, 165, 165);
}

/* Ensure the text inside doesn't zoom */
.FlatCard * {
transition: none; /* Disable transition on all children elements */
}
.text-bold {
  font-size: 18px;
  font-weight: bolder;
}
