<div class="row align-items-center mb-5">
    <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 col-8 mob-mb1">
      <h4 class="text-theme mb-4"><strong>Change Password</strong></h4>
    </div>

    <form class="needs-validation" [formGroup]="changePasswordForm" (ngSubmit)="forgotpassword()">
      <div class="row">
        <!-- Old Password -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Old Password</label>
            <div class="input-group">
              <input [type]="showOldPassword ? 'text' : 'password'" class="form-control"
                placeholder="Enter old password" formControlName="oldPassword" required>
              <button type="button" class="btn btn-outline-secondary" (click)="showOldPassword = !showOldPassword">
                <i class="bi" [ngClass]="showOldPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
              </button>
            </div>
            <span class="text-danger small d-block mt-1" *ngIf="changePasswordForm.controls.oldPassword?.touched &&
              changePasswordForm.controls.oldPassword?.errors?.['required']">
              Please enter a valid password.
            </span>
          </div>
        </div>

        <!-- New Password -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">New Password</label>
            <div class="input-group">
              <input [type]="showNewPassword ? 'text' : 'password'" class="form-control"
                placeholder="Enter new password" formControlName="newPassword" required>
              <button type="button" class="btn btn-outline-secondary" (click)="showNewPassword = !showNewPassword">
                <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
              </button>
            </div>
            <span class="text-danger small d-block mt-1" *ngIf="changePasswordForm.controls.newPassword?.touched &&
              changePasswordForm.controls.newPassword?.errors?.['required']">
              Please enter a valid password.
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-12 text-end">
        <button type="submit" class="btn btn-primary w-100 mt-3">Change Password</button>
      </div>
    </form>



  </div>


  <body class="body-login">
    <div class="container d-flex justify-content-center align-items-center" style="height:100vh; overflow:hidden;">
        
    </div>
  </body>