<div class="container pt-5">
  <div class="row">
    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-3 col-12">
      <div class="sidebar-widget">
        <p class="ps-3"><strong>Task Status</strong></p>
        <ul class="sidebar-nav">
          <li><a href="javascript:void(0)">My Day</a></li>
          <li><a href="javascript:void(0)" class="active">Ongoing</a></li>
          <li><a href="javascript:void(0)">Completed</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-10 col-xl-10 col-md-8 col-sm-8 col-12">

      <div class="row">
        <div class="col-md-12 col-xl-12 col-12">

          <!-- User List -->
          <ul class="taskuserList" *ngIf="!showLoader">
            <li *ngFor="let user of displayedUsers">
              {{ user.userName }}
            </li>
            <!-- View More / View Less Link -->
            <li *ngIf="userList.length > 7">
              <a href="javascript:;" (click)="toggleView()">
                {{ showAll ? '- View Less' : '+ View More' }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="accordion accordion-flush" id="accordianTodoList">
        <p><strong>Ongoing Task</strong></p>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-TodoListZero">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <span class="bluetext">+ Add a New Task</span>
            </button>
          </h2>
        </div>

        <div *ngFor="let task of taskList; let i = index">
          <div class="accordion-item">
            <h2 class="accordion-header" [id]="'flush-TodoList-' + i">
              <button class="accordion-button d-flex justify-content-between align-items-center" type="button">
                <div>
                  <i class="bi bi-circle task-icon"></i>
                  {{ task?.task }}
                </div>
                <div class="text-end">
                  <span *ngIf="task.assignTo?.length > 0" class="text-muted me-3">
                   
                    <span *ngFor="let user of task.assignTo; let last = last">
                      {{ user?.userDetail?.name }}{{ last ? '' : ', ' }}
                    </span>
                  </span>
                  <span *ngIf="task?.dueDate" class="text-muted">
                    Due Date: {{ task.dueDate | date: 'MMM d, y' }}
                  </span>
                </div>
              </button>
            </h2>
            <div [id]="'flush-collapse-' + i" class="accordion-collapse show">
              <div class="accordion-body">
                <ul class="SecondarytaskList" *ngIf="task?.comments?.length > 0">
                  <li *ngFor="let comment of task.comments" class="comment-item">
                    <div class="row align-items-center mb-3">
                      <div class="col">
                        <div class="d-flex justify-content-between">
                          <p class="mb-0">{{ comment?.userDetail?.name }}</p>
                          <small class="text-muted">{{ task?.createdAt | date: 'M/d/yy, h:mm a' }}</small>
                        </div>
                        <small class="text-muted d-block">{{ comment?.userDetail?.role }}</small>
                      </div>
                    </div>
                    <p>{{ comment.comment }}</p>
                  </li>
                </ul>
                <p *ngIf="!task?.comments?.length" class="text-muted">No comments available.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <!-- <div class="accordion accordion-flush" id="accordianCompletedTodoList">
        <p><strong>Completed Task</strong></p>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-TodoListOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <i class="bi bi-circle task-icon"></i> Microsoft Teams | Tasks in
              Teams Updates
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-TodoListOne"
            data-bs-parent="#accordianCompletedTodoList">
            <div class="accordion-body">
              <p>
                Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the
                first item's accordion body.
              </p>
              <ul class="SecondarytaskList">
                <li>
                  <i class="bi bi-circle task-icon"></i> Louisville Geek
                  provides comprehensive managed IT services for a diverse
                  range.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->

    </div>

    <!-- <div class="col-lg-3 col-xl-3 col-md-2 col-sm-3 col-12">
      <div class="sidebar-widget p-3">
        <ul class="Listgroup border-bottom bg-white">
          <li>
            <i class="bi bi-circle task-icon bluetext"></i> Task 1
            <span class="action-mark"><i class="bi bi-star bluetext"></i></span>
          </li>
        </ul>

        <ul class="todo-actionList">
          <li>
            <a href="javascript:void(0)" class="active"><i class="bi bi-brightness-high me-2"></i> Add to my day</a>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="bi bi-calendar-week me-2"></i> Add due date</a>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="bi bi-repeat me-2"></i> Repeat</a>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="bi bi-pin me-2"></i> Pick a category</a>
          </li>
        </ul>
        <textarea class="form-control" placeholder="Add comment..." rows="2" cols="100"></textarea>
        <div class="sidebar-footer-nav">
          <div class="row">
            <div class="col-2">
              <a href="javascript:void(0)" class="action-button"><i class="bi bi-box-arrow-in-right"></i></a>
            </div>
            <div class="col-8 text-center">Created Today</div>
            <div class="col-2 text-end">
              <a href="javascript:void(0)" class="action-button"></a>
              <i class="bi bi-trash"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>

<!-- Add New task Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  #taskModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input class="form-control" placeholder="Enter Task Titles" cols="100" rows="3" [(ngModel)]="taskTitle" />
      </div>
      <div class="modal-body">
        <textarea class="form-control" placeholder="Enter Task Description" [(ngModel)]="taskDetails"></textarea>
      </div>
      <div class="modal-body">
        <label>Due Date</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" [formControl]="dueDate" ngbDatepicker
            #endDatePicker="ngbDatepicker" />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="endDatePicker.toggle()"
            type="button"></button>
        </div>
      </div>
      <div class="modal-body">
        <label>AssignTo</label>
        <ng-select style="padding: 0px !important" placeholder="Select Assign User"
          class="form-select custom-ng-select-option" bindLabel="userName" [multiple]="true" bindValue="_id"
          [items]="userList" [(ngModel)]="assignTo">
        </ng-select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="addTask()">
          Add Task
        </button>
      </div>
    </div>
  </div>
</div>