<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-end">
                <p><em>Please refer to FAQ’s for more information </em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-xl-8 col-12">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12 ">
                        <ul class="footernav border-end">
                            <li><a href="javascript:;">About Us</a></li>
                            <li><a href="javascript:;">Opportunities</a></li>
                            <li><a href="javascript:;">Why Us</a></li>
                            <li><a href="javascript:;">Working Model</a></li>
                            <li><a href="javascript:;">Our Services</a></li>
                            <li><a href="javascript:;">FAQ’s</a></li>
                            <li><a href="javascript:;">Register </a></li>
                        </ul>
                        <ul class="social-media">
                            <li><a href="javascript:;"><i class="bi bi-linkedin"></i></a></li>
                            <li><a href="javascript:;"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="javascript:;"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="javascript:;"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="javascript:;"><i class="bi bi-youtube"></i></a></li>
                            <li><a href="javascript:;"><i class="bi bi-whatsapp"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12">
                        <p><strong>Our Services</strong></p>
                        <ul class="footernav">
                            <li><a href="javascript:;">Identifying Business</a></li>
                            <li><a href="javascript:;">Feasibility Study</a></li>
                            <li><a href="javascript:;">Bid Review</a></li>
                            <li><a href="javascript:;">Bid Writing</a></li>
                            <li><a href="javascript:;">Project Support</a></li>
                            <li><a href="javascript:;">Bid Management</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12">
                        <p><strong>Industries</strong></p>
                        <ul class="footernav">
                            <li><a href="javascript:;">Manufacturing</a></li>
                            <li><a href="javascript:;">Healthcare</a></li>
                            <li><a href="javascript:;">Retail Sector</a></li>
                            <li><a href="javascript:;">Education</a></li>
                            <li><a href="javascript:;">IT Industry</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-md-6 col-12">
                        <p><strong>Expertise</strong></p>
                        <ul class="footernav">
                            <li><a href="javascript:;">Software Development</a></li>
                            <li><a href="javascript:;">Quality Assurance /Quality Control</a></li>
                            <li><a href="javascript:;">Managed IT Services</a></li>
                            <li><a href="javascript:;">Cyber Security </a></li>
                            <li><a href="javascript:;">Cloud Services</a></li>
                            <li><a href="javascript:;">Digital Marketing & SEO</a></li>
                            <li><a href="javascript:;">IT Products</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 col-12">
                <img src="assets/img/white-logo.png" />
                <p><strong>Address</strong></p>
                <p>No.6, Uttarahalli Main Rd, 2nd Stage, Jayanagar housing society layout,
                    Chikkalasandra, Bengaluru, Karnataka 560061</p>
                <p><a href="mailto:support@westgateithub.com">support@westgateithub.com</a></p>
            </div>
        </div>
    </div>
</footer>