.height48 .ng-select-container {
    height: 48px !important;
}
.ng-select .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 48px !important;
    align-items: center;
}

.collapsed-text {
    max-height: 3.6em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.expanded-text {
    max-height: none;
    overflow: visible;
}

.btn-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}


