<main id="main">
    <section>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
                    <div class="form-group mb-0">
                        <span class="input-icon"><i class="bi bi-search"></i></span>
                        <input class="form-control control-search" placeholder="Search" type="text"
                            [(ngModel)]="searchText" (input)="searchtext()">
                    </div>
                </div>
            </div>

            <div class="table-responsive mt-5 mb-3">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th width="200px">Project Title</th>
                            <th>BOS ID</th>
                            <th>Publish Date</th>
                            <th>Category</th>
                            <th>Industry</th>
                            <th>Value</th>
                            <th>Project Type</th>
                            <th>Status</th>
                            <th>Due Date &amp; Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of projectList |  paginate: { itemsPerPage: pagesize , currentPage: page, totalItems: totalRecords } ; let i = index">
                            <td><a>{{item?.projectName}}</a></td>
                            <td v-align="middle">{{item?.BOSID}}</td>
                            <!-- <td>Website <a href="javascript:;" class="editbtn"><i class="bi bi-pencil-fill"></i></a>
                            </td> -->
                            <td>{{item?.publishDate | date:'MM/dd/yyyy'}}</td>
                            <td>{{item?.category}}</td>
                            <td>{{item?.industry}}</td>
                            <td>{{item?.value}}</td>
                            <td>{{item?.projectType}}</td>
                            <td>{{item?.status}}</td>
                            <td>{{item?.dueDate | date:'MM/dd/yyyy, h:mm a'}}</td>
                            <td>
                                <a (click)="projectDetails(item?._id)" class="btn btn-primarysm"
                                    title="View Details">View Details</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-3 align-items-center">
                <div class="row">
                    <div class="pagination">
                        <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->