<main id="main">
    <section>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
                    <div class="form-group mb-0">
                        <span class="input-icon"><i class="bi bi-search"></i></span>
                        <input class="form-control control-search" placeholder="Search" type="text"
                            [(ngModel)]="searchText" (input)="searchtext()">
                    </div>
                </div>
            </div>

            <div class="table-responsive mt-5 mb-3">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th width="150px">Project Title</th>
                            <th width="150px">Project Description</th>
                            <th>BOS ID</th>
                            <th>Publish Date</th>
                            <th>Category</th>
                            <th>Industry</th>
                            <th>Value</th>
                            <th>Project Type</th>
                            <th>Status</th>
                            <th>Due Date &amp; Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of projectList | paginate: { itemsPerPage: pagesize , currentPage: page, totalItems: totalRecords } ; let i = index">
                            <td>{{item?.projectName}}</td>
                            <td><a title="{{item?.description}}">{{item?.description | truncate:20:true}}</a></td>
                            <td v-align="middle">{{item?.BOSID}}</td>
                            <td>{{item?.publishDate | date:'dd/MM/yyyy'}}</td>
                            
                            <td>
                                <span *ngIf="!item.isEditing">{{item?.category}}</span>
                                <select *ngIf="item.isEditing" [(ngModel)]="item.category" class="custom-select">
                                    <option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</option>
                                </select>
                            </td>
                            <td>
                                <span *ngIf="!item.isEditing">{{item?.industry}}</span>
                                <select *ngIf="item.isEditing" [(ngModel)]="item.industry" class="custom-select">
                                    <option *ngFor="let industry of industryList" [value]="industry.id">{{industry.name}}</option>
                                </select>
                            </td>

                            <td>
                                <span *ngIf="!item.isEditing">{{item?.value}}</span>
                                <input *ngIf="item.isEditing" [(ngModel)]="item.value" />
                            </td>
                            <td>
                                <span *ngIf="!item.isEditing">{{item?.projectType}}</span>
                                <input *ngIf="item.isEditing" [(ngModel)]="item.projectType" />
                            </td>
                            <td>
                                <span *ngIf="!item.isEditing">{{item?.status}}</span>
                                <input *ngIf="item.isEditing" [(ngModel)]="item.status" />
                            </td>
                            <td>
                                <span *ngIf="!item.isEditing">{{item?.dueDate | date:'dd/MM/yyyy, h:mm a'}}</span>
                                <input *ngIf="item.isEditing" [(ngModel)]="item.dueDate" />
                            </td>
                            <td>
                                <a *ngIf="!item.isEditing" (click)="projectDetails(item?._id)" class="btn btn-primarysm" title="View Details">View Details</a>
                                <a *ngIf="!item.isEditing" (click)="toggleEditMode(item)" class="btn btn-secondarysm ml-2" title="Edit">Edit</a>
                                <a *ngIf="item.isEditing" (click)="saveProject(item)" class="btn btn-successsm ml-2" title="Save">Save</a>
                                <a *ngIf="item.isEditing" (click)="toggleEditMode(item)" class="btn btn-warning ml-2" title="Cancel">Cancel</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
            <div class="row mt-3 align-items-center">
                <div class="row">
                    <div class="pagination">
                        <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->