<main id="main">
    <section>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">

                <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
                    <div class="form-group mb-0">
                        <span class="input-icon"><i class="bi bi-search"></i></span>
                        <input class="form-control control-search" placeholder="Search" type="text"
                            [(ngModel)]="searchText" (input)="searchtext()">
                    </div>
                </div>

            </div>

            <div class="table-responsive mt-5 mb-3">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>BOS ID</th>
                            <th width="150px">Project Title</th>
                            <th width="150px">Project Description</th>
                            <th>Publish Date</th>
                            <th>Category</th>
                            <th>Industry</th>
                            <th>Min value (GBP)</th>
                            <th>Max value (GBP)</th>
                            <th>Website</th>
                            <th width="100px">Link to notice</th>
                            <th>Project Type</th>
                            <th>Status</th>
                            <th>Due Date &amp; Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td *ngIf="!projectList?.length" colspan="14">
                                <app-no-record-found></app-no-record-found>
                            </td>
                        </tr>

                        <tr
                            *ngFor="let item of projectList | paginate: { itemsPerPage: pagesize, currentPage: page, totalItems: totalRecords }; let i = index">
                            <td>{{ item?.BOSID }}</td>
                            <td>{{ item?.projectName }}</td>
                            <td><a title="{{ item?.description }}">{{ item?.description | slice:0:10 }}</a></td>

                            <td>{{ item?.publishDate | date:'dd/MM/yyyy' }}</td>

                            <td>
                                <span *ngIf="!item.isEditing">{{ getCategoryName(item.category) }}</span>
                                <select *ngIf="item.isEditing" [(ngModel)]="item.category" class="custom-select">
                                    <option value="">Select Category</option>
                                    <option *ngFor="let category of categoryList" [value]="category.category">{{
                                        category.category }}</option>
                                </select>
                                <span *ngIf="item?.category && !item.isEditing">{{ item?.category }}</span>
                            </td>

                            <td>
                                <span *ngIf="!item.isEditing">{{ getIndustryName(item.industry) }}</span>
                                <select *ngIf="item.isEditing" [(ngModel)]="item.industry" class="custom-select">
                                    <option value="">Select Industry</option>
                                    <option *ngFor="let industry of industryList" [value]="industry.industry">{{
                                        industry.industry }}</option>
                                </select>
                                <span *ngIf="item?.industry && !item.isEditing">{{ item?.industry }}</span>
                            </td>

                            <td>£
                                <span *ngIf="!item.isEditing">{{ item?.minValue }}</span>
                                <input *ngIf="item.isEditing" [(ngModel)]="item.minValue"
                                    (keypress)="NumberOnly($event)" />
                            </td>

                            <td>£
                                <span *ngIf="!item.isEditing">{{ item?.maxValue }}</span>
                                <input *ngIf="item.isEditing" [(ngModel)]="item.maxValue"
                                    (keypress)="NumberOnly($event)" />
                            </td>

                            <td>{{item?.website}}</td>
                            <td><a href='{{item?.link}}' target="_blank">{{item?.link}}</a></td>

                            <td>
                                <span *ngIf="!item.isEditing">{{ item?.projectType }}</span>
                                <input *ngIf="item.isEditing" [(ngModel)]="item.projectType" />
                            </td>

                            <td>
                                <span *ngIf="!item.isEditing">{{ item?.status }}</span>
                                <select *ngIf="item.isEditing" [(ngModel)]="item.status" class="custom-select">
                                    <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
                                </select>

                            </td>

                            <td>
                                <span *ngIf="!item.isEditing">{{ item?.dueDate | date:'dd/MM/yyyy, h:mm a' }}</span>
                                <input *ngIf="item.isEditing" [(ngModel)]="item.dueDate" type="date"
                                    [value]="item?.dueDate" />
                            </td>

                            <td>
                                <!-- View Details and Edit buttons -->
                                <a *ngIf="!item.isEditing" (click)="projectDetails(item?._id)"
                                    class="btn btn-primary sm me-2" title="View Details"><i
                                        class="bi bi-eye-fill"></i></a>&nbsp;
                                <a *ngIf="!item.isEditing" (click)="toggleEditMode(item)"
                                    class="btn btn-secondary sm ml-2" title="Edit"><i
                                        class="bi bi-pencil-fill"></i></a>&nbsp;

                                <!-- Save and Cancel buttons -->
                                <a *ngIf="item.isEditing" (click)="saveProject(item)" class="btn btn-primary sm"
                                    title="Save"><i class="bi bi-check2"></i></a>&nbsp;
                                <a *ngIf="item.isEditing" (click)="toggleEditMode(item)" class="btn btn-warning ml-2"
                                    title="Cancel"><i class="bi bi-x-lg"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


            <div class="row mt-3 align-items-center">
                <div class="row">
                    <div class="pagination">
                        <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->