<div class="accordion accordion-flush" id="accordianTodoList">
  <p><strong>Completed Task</strong></p>
  <div *ngFor="let task of taskList; let i = index">
    <div class="accordion-item">
      <h2 class="accordion-header" [id]="'flush-TodoList' + i">
        <button class="accordion-button d-flex justify-content-between align-items-center" type="button"
          data-bs-toggle="modal" data-bs-target="#taskDetailsModal" (click)="openTaskModal(task)" [ngClass]="{
            'bg-light-yellow': task?.pickACategory === 'low',
                      'bg-light-green': task?.pickACategory === 'Medium',
                      'bg-light-orange': task?.pickACategory === 'High'
            }">
          <div>
            <i class="bi bi-circle task-icon"></i>
            {{ task?.task }}
            <span *ngIf="task?.pickACategory">
              ({{ task?.pickACategory }})</span>
          </div>
          <div class="text-end">
            <span *ngIf="task.assignTo?.length > 0" class="text-muted me-3">
              <span *ngFor="let user of task.assignTo; let last = last">
                {{ user?.userDetail?.name }}{{ last ? "" : ", " }}
              </span>
            </span>
            <span *ngIf="task?.createdAt" class="text-muted me-2">
              Created: {{ task.createdAt | date : "MMM d, y" }}
            </span>
            <span *ngIf="task?.dueDate" class="text-muted">
              Due: {{ task.dueDate | date : "MMM d, y" }}
            </span>
          </div>
        </button>
      </h2>
      <div [id]="'flush-collapse-' + i" class="accordion-collapse show">
        <div class="accordion-body">
          <ul class="SecondarytaskList" *ngIf="task?.todayComments">
            <!-- <li *ngFor="let comment of task.todayComments" class="comment-item"> -->
              <div class="row align-items-center mb-3">
                <div class="col">
                  <div class="d-flex justify-content-between">
                    <p class="mb-0">
                      {{ task.todayComments[0]?.userDetail?.name }}
                    </p>
                    <small class="text-muted">
                      {{ task.todayComments[0]?.date | date : "dd/MM/yyyy, h:mm a" }}
                    </small>
                  </div>
                  <small class="text-muted d-block">
                    {{ task.todayComments[0]?.userDetail?.role }}
                  </small>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <p>{{ task.todayComments[0]?.comment }}</p>
              </div>
            <!-- </li> -->
          </ul>
          <p *ngIf="!task?.todayComments" class="text-muted">
            No comments available.
          </p>

          <!-- <p *ngIf="!task?.comments?.length" class="text-muted">
            No comments available.
          </p> -->
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!taskList?.length">
    <app-no-record-found></app-no-record-found>
  </div>
</div>

<div class="modal fade" id="taskDetailsModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4>{{ modalTask?.task }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body d-flex">
        <div class="flex-grow-1 pe-3">
          <div class="mb-3" *ngIf="modalTask?.discription">
            <h6><strong>Description</strong></h6>
            <p>{{ modalTask?.discription }}</p>
            <p *ngIf="!modalTask?.discription">No Record Found.</p>
          </div>

          <div class="mb-3" *ngIf="modalTask?.project">
            <h6><strong>Assigned Project</strong></h6>
            <a (click)="projectDetails(modalTask?.project?._id)" href="javascript:;">{{ modalTask?.project?.projectName
              }}</a>
          </div>

          <!-- Comments Section -->
          <div class="comments-section">
            <h6><strong>Comment</strong></h6>
            <div class="mb-2">
              <!-- Textarea for Adding Comment -->
              <textarea class="form-control" placeholder="Add a comment..." [(ngModel)]="newComment">
                </textarea>
              <button class="btn btn-sm btn-primary mt-2" (click)="addComment(newComment, modalTask?._id)">
                Comment
              </button>

              <!-- Display Existing Comments -->
              <ul class="SecondarytaskList mt-3" *ngIf="modalTask?.comments?.length > 0">
                <li *ngFor="let comment of modalTask.comments; let i = index" class="comment-item">
                  <div class="row align-items-center mb-3">
                    <div class="col">
                      <div class="d-flex justify-content-between">
                        <p class="mb-0">{{ comment?.userDetail?.name }}</p>
                        <small class="text-muted">{{
                          comment?.date | date : "dd/MM/yyyy, h:mm a"
                          }}</small>
                      </div>
                      <small class="text-muted d-block">{{
                        comment?.userDetail?.role
                        }}</small>
                    </div>
                  </div>
                  <p class="mb-1">{{ comment?.comment }}</p>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
