<main id="main">
    <section>
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-lg-5 col-xl-5 col-12">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Project Name</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="3" cols="100"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">BOS ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Publish Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                    placeholder="Auto Detect System Calendar">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Submission Due Date</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-4">
                                        <select class="form-select">
                                            <option>DD</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-select">
                                            <option>MM</option>
                                            <option>Janury</option>
                                            <option>February</option>
                                            <option>March</option>
                                            <option>Aapril</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-select">
                                            <option>YY</option>
                                            <option>2024</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <select class="form-select">
                                            <option>Hours</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-select">
                                            <option>Minute</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Website</label>
                            <div class="col-sm-8">
                                <select class="form-select">
                                    <option disabled selected hidden>Website URL</option>
                                    <option>www.websiteproject.com</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="row mb-3">
                            <div class="col-4">
                                <a href="javascript:;" class="btn btn-outline-white btn-sm" style="color: #0d6efd;"><i
                                        class="bi bi-file-earmark-arrow-up-fill"></i> Upload Document</a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:;" class="btn btn-outline-white btn-sm" style="color: #0d6efd;"><i
                                        class="bi bi-file-earmark-arrow-up-fill"></i> Upload Document</a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:;" class="btn btn-outline-white btn-sm" style="color: #0d6efd;"><i
                                        class="bi bi-file-earmark-arrow-up-fill"></i> Upload Document</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-7 col-xl-7 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-12">
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Category</label>
                                    <div class="col-sm-8">
                                        <select class="form-select">
                                            <option>Select category</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-12">
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Industry</label>
                                    <div class="col-sm-8">
                                        <select class="form-select">
                                            <option>Industry Type</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" cols="100"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-12">
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Link to notice</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-12">
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Period Of Contract</label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="date" class="form-control" placeholder="Start Date">
                                            </div>
                                            <div class="col-6">
                                                <input type="date" class="form-control" placeholder="End Date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-12">
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Value</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-12">
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Project Type</label>
                                    <div class="col-sm-8">
                                        <select class="form-select">
                                            <option disabled selected hidden >Select Project Type</option>
                                            <option>Development</option>
                                            <option>Product</option>
                                            <option>Service</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Mail ID</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-6 col-xl-6 col-12">
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Client Type</label>
                                    <div class="col-sm-8">
                                        <select class="form-select">
                                            <option disabled selected hidden >Select Client Type</option>
                                            <option>Public Sector</option>
                                            <option>Private Sector</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-12">
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Client Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary">Publish</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main><!-- End #main -->