<main id="main">
  <section>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-12 col-xl-12 col-12 d-flex align-items-center justify-content-between mb-3">
          <div class="d-flex align-items-center">
            <h4 class="me-3"><strong>Project Title:</strong></h4>
            <h4>{{ projectDetails?.projectName }}</h4>
          </div>
          <div class="ms-auto d-flex">
            <a data-bs-toggle="modal" data-bs-target="#ViewStripAdd" class="btn btn-primary btn-sm text-dark me-2">
              Add Strips
            </a>
            <a routerLink="/super-admin/super-admin-projects-all" class="btn btn-primary text-dark">
              Back
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-xl-12 col-12 mb-12 mt-5 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2"><strong>BOS ID:</strong></div>
              <div class="col-md-10">{{ projectDetails?.BOSID || "-" }}</div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Publish Date:</strong></div>
              <div class="col-md-10">
                {{
                projectDetails?.publishDate
                ? (projectDetails?.publishDate | date : "dd/MM/yyyy")
                : "-"
                }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Category:</strong></div>
              <div class="col-md-10">{{ projectDetails?.category || "-" }}</div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Industry:</strong></div>
              <div class="col-md-10">{{ projectDetails?.industry || "-" }}</div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Min value (GBP):</strong></div>
              <div class="col-md-10">
                GBP {{ projectDetails?.minValue || "-" }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Max value (GBP):</strong></div>
              <div class="col-md-10">
                GBP {{ projectDetails?.maxValue || "-" }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Website:</strong></div>
              <div class="col-md-10">{{ projectDetails?.website || "-" }}</div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Link to notice:</strong></div>
              <div class="col-md-10">
                <a *ngIf="projectDetails?.link; else noLink" href="{{ projectDetails?.link }}" target="_blank">Link to
                  Notice</a>
                <ng-template #noLink>-</ng-template>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Created Date:</strong></div>
              <div class="col-md-10">
                {{
                projectDetails?.createdAt
                ? (projectDetails?.createdAt | date : "dd/MM/yyyy")
                : "-"
                }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Due Date & Time:</strong></div>
              <div class="col-md-10">
                {{
                projectDetails?.dueDate
                ? (projectDetails?.dueDate | date : "dd/MM/yyyy, h:mm a")
                : "-"
                }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>CPV Codes:</strong></div>
              <div class="col-md-10">{{ projectDetails?.CPVCodes || "-" }}</div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Notice Reference:</strong></div>
              <div class="col-md-10">
                {{ projectDetails?.noticeReference || "-" }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Status:</strong></div>
              <div class="col-md-10">{{ projectDetails?.status || "-" }}</div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Project Type:</strong></div>
              <div class="col-md-10">
                {{ projectDetails?.projectType || "-" }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"><strong>Mail Id:</strong></div>
              <div class="col-md-10">{{ projectDetails?.mailID || "-" }}</div>
            </div>
          </div>
        </div>
      </div>

      <section class="pageheader bg-dark">
        <div class="container d-flex justify-content-between align-items-center">
          <p class="mb-0"><strong>Project Description</strong></p>
        </div>
      </section>
      <br />

      <p>{{ projectDetails?.description }}</p>

      <section class="pageheader bg-dark">
        <div class="container">
          <p><strong>Client & FOI Detils</strong></p>
        </div>
      </section>

      <!--client details-->
      <div class="row mt-5">
        <div class="col-lg-4 col-xl-4 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-lg-4 col-xl-4 col-12">
                  <h6 class="text-theme"><strong>Client Detils</strong></h6>
                </div>
                <div class="col-lg-7 col-xl-7 col-12">
                  <p class="p-13 mb-0">
                    Mail ID : {{ projectDetails?.mailID }}
                  </p>
                  <p class="p-13 mb-0">
                    Client Type : {{ projectDetails?.clientType }}
                  </p>
                  <p class="p-13 mb-0">
                    Client Name : {{ projectDetails?.clientName }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-12 mb-4">
          <div class="row align-items-center">
            <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
              <p class="mb-0">FOI Screenshot</p>
            </div>
            <div class="row align-items-center" *ngIf="projectDetails?.mailScreenshots?.length == 0">
              <div class="col-lg-12 col-xl-12 col-12 mob-mb1">
                <p class="mb-0">No Record Found.</p>
              </div>
            </div>
            <ng-container *ngIf="projectDetails?.mailScreenshots?.length > 0">
              <div class="row align-items-center" *ngFor="let foiScreenshot of projectDetails?.mailScreenshots">
                <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
                  <p class="mb-0">{{ foiScreenshot?.name }}</p>
                </div>
                <div class="col-lg-4 col-xl-4 col-6">
                  <a (click)="openDocument(foiScreenshot)" class="btn btn-small w-100" data-bs-toggle="modal"
                    data-bs-target="#ViewScreenshot"><i class="bi bi-eye-fill"></i> View</a>
                </div>
                <div class="col-lg-4 col-xl-4 col-6">
                  <a (click)="
                      download(foiScreenshot?.link?.url, foiScreenshot?.name)
                    " target="_blank" class="btn btn-small w-100"><i class="bi bi-file-earmark-arrow-down-fill"></i>
                    Download</a>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="row align-items-center mt-3">
            <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
              <p class="mb-0">FOI Document</p>
            </div>
            <div class="row align-items-center" *ngIf="projectDetails?.fois?.length == 0">
              <div class="col-lg-12 col-xl-12 col-12 mob-mb1">
                <p class="mb-0">No Record Found.</p>
              </div>
            </div>
            <ng-container *ngIf="projectDetails?.fois?.length > 0">
              <div class="row align-items-center" *ngFor="let foiDocument of projectDetails?.fois">
                <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
                  <p class="mb-0">{{ foiDocument?.name }}</p>
                </div>
                <div class="col-lg-4 col-xl-4 col-6">
                  <a (click)="openDocument(foiDocument)" class="btn btn-small w-100" data-bs-toggle="modal"
                    data-bs-target="#ViewDocumentModal"><i class="bi bi-eye-fill"></i> View</a>
                </div>
                <div class="col-lg-4 col-xl-4 col-6">
                  <a style="
                      padding-left: 0 !important;
                      padding-right: 0px !important;
                    " (click)="
                      download(foiDocument?.link?.url, foiDocument?.name)
                    " target="_blank" class="btn btn-small w-100"><i class="bi bi-file-earmark-arrow-down-fill"></i>
                    Download</a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-12 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <ng-container *ngIf="!isEditing; else editMode">
                <p class="p-13">
                  <strong>
                    Period of Contract:
                    {{
                    projectDetails?.periodOfContractStart
                    | date : "dd/MM/yyyy"
                    }}
                    -
                    {{
                    projectDetails?.periodOfContractEnd | date : "dd/MM/yyyy"
                    }}
                  </strong>
                </p>
                <p class="p-13">
                  <strong>Project Type: {{ projectDetails?.projectType }}</strong>
                </p>
                <a class="btn btn-secondary sm ml-2" (click)="toggleEdit()"><i class="bi bi-pencil-fill"></i></a>
              </ng-container>
              <ng-template #editMode>
                <p class="p-13">
                  <strong>
                    Period of Contract:
                    <input type="date" [(ngModel)]="projectDetails.periodOfContractStart" />
                    -
                    <input type="date" [(ngModel)]="projectDetails.periodOfContractEnd" />
                  </strong>
                </p>
                <p class="p-13">
                  <strong>
                    Project Type:
                    <input type="text" [(ngModel)]="projectDetails.projectType" />
                  </strong>
                </p>
                <a class="btn btn-primary sm" title="Save" (click)="saveChanges('save', true)"><i
                    class="bi bi-check2"></i></a>&nbsp;
                <a class="btn btn-warning ml-2" title="Cancel" (click)="toggleEdit()"><i class="bi bi-x-lg"></i></a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <!-- <section class="pageheader bg-dark">
        <div class="container">
          <p><strong>Upload Sub-contracting</strong></p>
        </div>
      </section>
      <br />

      <div class="row align-items-center">
        <div class="col-lg-9 col-xl-9 col-12">
          <div class="row">
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <label class="display-block">Sub-contracting</label> <br />
                <div class="upload-btn-wrapper">
                  <label for="subContract" class="btn-upload-file padding-lr-5">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i> Upload
                    Query Image
                  </label>
                  <input id="subContract" type="file" name="subContract" style="height: 5px; width: 5px" (change)="
                      uploadDocument(
                        $event,
                        documentUploadType.subContractDocument
                      )
                    " />
                  <br />
                  <p>{{ subContractDocument?.fileName }}</p>

                  <div class="d-flex justify-content-between">
                    <a *ngIf="subContractDocument" (click)="openUploadedDocument(subContractDocument)"
                      class="btn btn-small me-2" data-bs-toggle="modal" data-bs-target="#ViewUploadedDocument">
                      <i class="bi bi-eye-fill"></i> View
                    </a>

                    <a *ngIf="subContractDocument" (click)="
                        removeDocument(documentUploadType.subContractDocument)
                      " class="btn btn-danger">
                      <i class="bi bi-trash-fill"></i> Remove
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <label class="display-block">Economical partnership</label>
                <br />
                <div class="upload-btn-wrapper">
                  <label for="economicalQuryDocument" class="btn-upload-file padding-lr-5">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i> Upload
                    Query Image
                  </label>
                  <input type="file" id="economicalQuryDocument" name="economicalQuryDocument"
                    style="height: 5px; width: 5px" (change)="
                      uploadDocument(
                        $event,
                        documentUploadType.economicalPartnershipQuery
                      )
                    " />
                  <br />
                  <p>{{ economicalPartnershipQueryFile?.fileName }}</p>

                  <div class="d-flex justify-content-between">
                    <a *ngIf="economicalPartnershipQueryFile" (click)="
                        openUploadedDocument(economicalPartnershipQueryFile)
                      " class="btn btn-small me-2" data-bs-toggle="modal" data-bs-target="#ViewUploadedDocument">
                      <i class="bi bi-eye-fill"></i> View
                    </a>

                    <a *ngIf="economicalPartnershipQueryFile" (click)="
                        removeDocument(
                          documentUploadType.economicalPartnershipQuery
                        )
                      " class="btn btn-danger">
                      <i class="bi bi-trash-fill"></i> Remove
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <label class="display-block">Other</label>
                <br />
                <div class="upload-btn-wrapper">
                  <label class="btn-upload-file" for="otherDocument">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i> Upload
                    Query Image
                  </label>
                  <input type="file" name="myfile" id="otherDocument" style="height: 5px; width: 5px" (change)="
                      uploadDocument(
                        $event,
                        documentUploadType.otherQueryDocument
                      )
                    " />
                  <br />
                  <p>{{ documentUploadType?.otherQueryDocument?.fileName }}</p>
                  <ng-container *ngFor="let document of FeasibilityOtherDocuments">
                    <ng-container *ngIf="
                        document?.type === documentUploadType.otherQueryDocument
                      ">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <a (click)="openUploadedDocument(document?.file)" class="btn btn-small me-2"
                          data-bs-toggle="modal" data-bs-target="#ViewUploadedDocument">
                          <i class="bi bi-eye-fill"></i> View
                        </a>

                        <a (click)="removeOtherDocument(document)" class="btn btn-danger">
                          <i class="bi bi-trash-fill"></i> Remove
                        </a>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12">
              <div class="form-check form-check-inline mt-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptionsForSubContract" id="inlineRadio1"
                  value="true" [checked]="subContracting === true" (change)="subContactChange('true')" />
                <label class="form-check-label" for="inlineRadio1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptionsForSubContract" id="inlineRadio2"
                  value="true" [checked]="subContracting === false" (change)="subContactChange('false')" />
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
            </div>

            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <div class="upload-btn-wrapper">
                  <label for="economicalResponseDocument" class="btn-upload-file padding-lr-5">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i> Upload
                    Response
                  </label>
                  <input type="file" id="economicalResponseDocument" name="myfile" style="height: 5px; width: 5px"
                    (change)="
                      uploadDocument(
                        $event,
                        documentUploadType.economicalPartnershipResponse
                      )
                    " />
                  <br />
                  <p *ngIf="economicalPartnershipResponceFile">
                    {{ economicalPartnershipResponceFile?.fileName }}
                  </p>

                  <div class="d-flex justify-content-between">
                    <a *ngIf="economicalPartnershipResponceFile" (click)="
                        openUploadedDocument(economicalPartnershipResponceFile)
                      " class="btn btn-small me-2" data-bs-toggle="modal" data-bs-target="#ViewUploadedDocument">
                      <i class="bi bi-eye-fill"></i> View
                    </a>

                    <a *ngIf="economicalPartnershipResponceFile" (click)="
                        removeDocument(
                          documentUploadType.economicalPartnershipResponse
                        )
                      " class="btn btn-danger">
                      <i class="bi bi-trash-fill"></i> Remove
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12">
              <div class="form-group">
                <div class="upload-btn-wrapper">
                  <label class="btn-upload-file" for="otherDocument1">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i> Upload
                    Document
                  </label>
                  <input type="file" name="myfile" style="height: 5px; width: 5px" id="otherDocument1" (change)="
                      uploadDocument($event, documentUploadType.otherDocument)
                    " />
                  <br />

                  <ng-container *ngFor="let document of FeasibilityOtherDocuments">
                    <ng-container *ngIf="
                        document?.type === documentUploadType.otherDocument
                      ">
                      <p>{{ document.file?.fileName }}</p>

                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <a (click)="openUploadedDocument(document?.file)" class="btn btn-small me-2"
                          data-bs-toggle="modal" data-bs-target="#ViewUploadedDocument">
                          <i class="bi bi-eye-fill"></i> View
                        </a>

                        <a (click)="removeOtherDocument(document)" class="btn btn-danger">
                          <i class="bi bi-trash-fill"></i> Remove
                        </a>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-12">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-lg-12 col-xl-12 col-12">
                  <textarea [(ngModel)]="comment" placeholder="Enter Comment" class="form-control" rows="3"
                    cols="100"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <section class="pageheader bg-dark">
        <div class="container">
          <p><strong>Documents</strong></p>
        </div>
      </section>
      <br />

      <div class="row mb-4">
        <div class="col-lg-6 col-xl-6 col-12 mob-mb1">
          <h5>Client Documents</h5>
          <div class="card">
            <ul class="project-document">
              <li *ngFor="let item of projectDetails?.clientDocument">
                <div class="row">
                  <div class="col-5 text-center">
                    <p class="mb-0">
                      {{ item?.name }}
                    </p>
                  </div>
                  <div class="col-7 text-center">
                    <a href="href:;" class="btn btn-primarysm me-2" data-bs-toggle="modal"
                      data-bs-target="#ViewClientDoc" (click)="openDocument(item)"><i class="bi bi-eye-fill"></i>
                      View</a>
                    <a href="href:;" (click)="download(item?.file?.url, item?.name)" class="btn btn-primarysm"><i
                        class="bi bi-file-earmark-arrow-down-fill"></i>
                      Download</a>
                  </div>
                </div>
              </li>
            </ul>
            <button data-bs-toggle="modal" data-bs-target="#addClientDocument" type="button"
              class="btn btn-dark btn-sm add-card-btn">
              <i class="bi bi-plus-lg"></i>
            </button>
            <!-- (click)="hideShowForm()" -->
          </div>
        </div>

        <div class="col-lg-6 col-xl-6 col-12 mob-mb1">
          <h5>WestGate Documents</h5>
          <div class="card">
            <ul class="project-document">
              <!-- Document List -->
              <li *ngFor="let item of projectDetails?.projectComment" class="list-group-item">
                <div class="row">
                  <div class="col-5 text-center">
                    <p class="mb-0">{{ item?.comment }}</p>
                  </div>
                  <div class="col-7 text-center">
                    <a href="href:;" class="btn btn-primarysm me-2" data-bs-toggle="modal"
                      data-bs-target="#ViewClientDoc" (click)="openDocument(item)">
                      <i class="bi bi-eye-fill"></i> View
                    </a>
                    <a href="href:;" class="btn btn-primarysm" (click)="download(item?.file?.url, item?.name)">
                      <i class="bi bi-file-earmark-arrow-down-fill"></i>
                      Download
                    </a>
                  </div>
                </div>
              </li>
            </ul>
            <button data-bs-toggle="modal" data-bs-target="#addWestgateDocument" type="button"
              class="btn btn-dark btn-sm add-card-btn">
              <i class="bi bi-plus-lg"></i>
            </button>
          </div>
        </div>
      </div>


      <!-- <section class="pageheader bg-dark">
        <div class="container">
          <p><strong>Login Details</strong></p>
        </div>
      </section>
      <br /> -->

      <!-- <div class="row">
        <div class="col-lg-4 col-xl-4 col-12">
          <div class="row align-items-center" *ngFor="let item of projectDetails?.loginDetail; let i = index">
            <div class="col-lg-6 col-xl-6 col-12">
              <p>
                <strong>{{ item?.name }}</strong>
              </p>
            </div>
            <div class="col-lg-6 col-xl-6 col-10">
              <a href="href:;" class="btn btn-primarysm me-2" (click)="viewLoginDetail(item)" data-bs-toggle="modal"
                data-bs-target="#loginDetailModal"><i class="bi bi-eye-fill"></i> View</a>
              <a href="href:;" data-bs-toggle="modal" (click)="editLoginDetail(item, i)"
                data-bs-target="#loginDetailModal" class="btn btn-primarysm"><i
                  class="bi bi-file-earmark-arrow-up-fill"></i> Edit</a>
            </div>
          </div>
          <ng-container *ngIf="viewLoginForm">
            <div class="d-flex p-2 justify-content-between">
              <div class="row align-items-center">
                <div class="col-9">
                  <div class="form-group">
                    <input type="text" [(ngModel)]="loginName" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-6">
                <div class="btn btn-small w-100">
                  <label for="uploadLoginDetail"><i class="bi bi-file-earmark-arrow-up-fill"></i>
                    Upload
                  </label>
                  <input [disabled]="!loginName" data-bs-toggle="modal" (click)="openLoginDetail()"
                    data-bs-target="#loginDetailModal" id="uploadLoginDetail" name="myfile"
                    style="height: 0.5px; width: 0.5px" />
                </div>
              </div>
            </div>
          </ng-container>
          <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6 col-12 text-end">
              <button (click)="viewLoginForm = !viewLoginForm" type="button" class="btn btn-sm btn-dark">
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row justify-content-end">
        <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-12 text-end">
          <a (click)="summaryDetail('save')" class="btn btn-dark w-100">Save</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <!-- <form [formGroup]="eligibilityForm" (ngSubmit)="submitEligibility()">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="caseStudyRequired">Case Study Numbers</label>
              <input id="caseStudyRequired" type="number" class="form-control" formControlName="caseStudyRequired"
                placeholder="Enter case study numbers" />
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="certifications">Certifications</label>
              <input id="certifications" type="text" class="form-control" formControlName="certifications"
                placeholder="Enter certifications" />
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <label for="policy">Policy</label>
              <input id="policy" type="text" class="form-control" formControlName="policy" placeholder="Enter policy" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center mt-3">
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
          </div>
        </div>
      </form> -->

      <br />

      <!-- <section class="pageheader bg-dark text-white">
        <div class="container">
          <p><strong>Project Manager</strong></p>
        </div>
      </section> -->
      <br />
    </div>
  </section>

  <!-- <section style="padding-top: 10px; padding-bottom: 10px">
    <div class="container-fluid">
      <div class="table-responsive match-detail">
        <table class="table table-striped mb-0 align-middle">
          <thead>
            <tr>
              <th width="100px" style="min-width: 100px"></th>
              <th width="12%">Supplier Name</th>
              <th width="5%">Supplier ID</th>
              <th width="5%">Admin Name</th>
              <th width="10%">Company Selection</th>
              <th width="10%">Handover Call</th>
              <th width="5%"></th>
              <th width="100px" style="min-width: 100px"></th>
            </tr>
          </thead>
          <tbody class="bg-f9 mb-2">
            <ng-container *ngFor="let supplier of userDetail">
              <ng-container class="mb-3">
                <tr>
                  <td></td>
                  <td>{{ supplier.companyName }}</td>
                  <td>{{ supplier._id }}</td>
                  <td>{{ supplier.name }}</td>
                  <td>
                    <div class="form-group">
                      <ng-select style="padding: 0px !important" class="form-select custom-ng-select-option"
                        [items]="companyDetails" bindLabel="name" [multiple]="true" bindValue="name"
                        [(ngModel)]="supplier['company']">
                      </ng-select>
                    </div>
                  </td>
                  <td>
                    <div class="row mb-3">
                      <div class="col-12">
                        <input type="date" [(ngModel)]="supplier.startDate" class="form-control"
                          placeholder="Start Date" style="height: 30px" />
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button (click)="selectSupplier(supplier)" class="btn btn-sm btn-primary px-4 py-1"
                        style="white-space: nowrap; font-size: 11px">
                        {{
                        supplier?._id == selectedSupplier?._id
                        ? "Selected"
                        : "Select"
                        }}
                      </button>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="8" class="inner-table p-0">
                    <table class="table w-100 mb-0">
                      <tr>
                        <td width="156px"></td>
                        <td colspan="3" *ngFor="let casestudy of casestudylist">
                          <div class="d-flex align-items-center bg-transparent">
                            <div class="d-flex align-items-center me-1">
                              <span class="w-space pe-2">{{
                                casestudy?.name
                                }}</span>
                              <a href="javascript:;" class="btn btn-primary fonts-12 rounded-pill px-4 py-1 w-space"
                                (click)="openDocument(casestudy)" data-bs-toggle="modal"
                                data-bs-target="#ViewCaseModal"><i class="bi bi-eye-fill me-2"></i> View</a>
                            </div>
                          </div>
                        </td>
                        <td colspan="3">
                          <div class="d-flex align-items-center bg-transparent"></div>
                        </td>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr class="mb-3">
                  <td colspan="8" class="p-0">
                    <table class="table w-100 mb-0">
                      <tr>
                        <td width="156px"></td>
                        <td class="text-danger" style="width: 120px">
                          <span class="bg-transparent mt-1"> Drop Reason</span>
                        </td>
                        <td colspan="5">
                          <input type="text" class="w-100 p-1 px-2 rounded fonts-12" style="border: 1px solid #e6e6e6"
                            placeholder="Add reason" aria-label="Username" [(ngModel)]="supplier['reason']"
                            aria-describedby="basic-addon1" />
                        </td>
                        <td>
                          <div class="bg-transparent w-auto d-flex align-items-center">
                            <button (click)="dropUser(supplier)"
                              class="btn btn-outline-white btn-white bg-white text-danger rounded px-5 py-1 me-3"
                              style="white-space: nowrap; font-size: 11px">
                              Drop
                            </button>
                          </div>
                        </td>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </section> -->

  <section *ngFor="let item of projectStrips">
    <div class="container-fluid">
      <!-- Black Strip Header -->
      <div class="bg-dark py-3">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <div class="container d-flex justify-content-between align-items-center">
              <p class="mb-1 text-white fw-bold">{{ item?.text }}</p>
            </div><br />
            <!-- Add Button -->
            <div *ngIf="item.type === 'Image'">
              <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                [attr.data-bs-target]="'#imageModal_' + item._id">
                Add
              </button>
            </div>
          </div>
        </div>
      </div><br />

      <!-- Redesigned Description -->
      <div class="bg-white py-3" *ngIf="item?.type != 'Image'">
        <p class="text-secondary mb-0 fw-bold"> </p>
        <p class="text-dark mb-0">{{ item?.description }}</p>
      </div>

      <!-- <div class="container py-4">
        <div class="row mt-3" *ngIf="item?.images?.length">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let image of item?.images">
            <div class="card h-100">
              <div class="card-body">
                <p class="card-text fw-semibold">{{ image?.imageText }}</p>
                <div class="d-flex justify-content-end">
                  <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" (click)="openViewImage(image)"
                    data-bs-target="#viewstripimage">
                    <i class="bi bi-eye-fill"></i> View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row align-items-center">
        <div class="col-lg-12 col-xl-12 col-12">
          <div class="d-flex flex-row flex-wrap">
            <div class="col-lg-auto col-xl-auto col-md-auto col-sm-auto col-auto me-3"
              *ngFor="let image of item?.images">
              <div class="form-group">
                <label class="display-block">{{ image?.imageText }}</label> <br />
                <div class="upload-btn-wrapper">
                  <div class="d-flex justify-content-between">
                    <a *ngIf="subContractDocument" (click)="openViewImage(image)" class="btn btn-small me-2"
                      data-bs-toggle="modal" data-bs-target="#viewstripimage">
                      <i class="bi bi-eye-fill"></i> View
                    </a>
                    <!-- Uncomment if remove functionality is needed -->
                    <!-- <a *ngIf="subContractDocument" (click)="removeDocument(documentUploadType.subContractDocument)" class="btn btn-danger">
                      <i class="bi bi-trash-fill"></i> Remove
                    </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal for Adding Image Details -->
      <div class="modal fade" [id]="'imageModal_' + item._id" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Image Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Dynamic Input Fields -->
              <div *ngFor="let field of imageFields; let i = index" class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter Text" [(ngModel)]="field.text" />
                <input type="file" class="form-control" accept="image/*" (change)="onFileChange($event, i)" />
                <button type="button" class="btn btn-danger" (click)="removeField(i)"
                  [disabled]="imageFields.length === 1">
                  Delete
                </button>
              </div>
              <button type="button" class="btn btn-secondary btn-sm mt-3" (click)="addField()">
                Add More
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="saveFields(item._id)" data-bs-dismiss="modal">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</main>

<!-- View Document Modal -->
<div class="modal fade" id="ViewDocumentModal" tabindex="-1" aria-labelledby="ViewDocumentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="display: flex; justify-content: space-between">
        <h5 class="modal-title" id="ViewDocumentModalLabel">
          FOI Document ({{ selectedDocument?.name }})
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="isPdf(selectedDocument?.link?.url); else otherFormats">
          <ngx-extended-pdf-viewer [src]="selectedDocument?.link?.url" useBrowserLocale="true"
            height="600px"></ngx-extended-pdf-viewer>
        </ng-container>
        <ng-template #otherFormats>
          <iframe *ngIf="isWordOrExcel(selectedDocument?.link?.url)"
            [src]="getDocumentViewerUrl(selectedDocument?.link?.url)" style="width: 100%; height: 600px"></iframe>
          <img *ngIf="isImage(selectedDocument?.link?.url)" [src]="selectedDocument?.link?.url" class="img-fluid" />
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Login detail From modal -->
<div class="modal fade" id="loginDetailModal" tabindex="-1" aria-labelledby="ViewLogin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" [formGroup]="loginDetailForm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ViewLogin">Add Login Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Company Name</label>
        <input type="text" formControlName="companyName" class="form-control" />
        <div class="text-danger" style="color: red"
          *ngIf="loginDetailForm.controls['companyName'].touched && loginDetailForm.controls['companyName']?.errors?.['required']">
          Please Company Name
        </div>
        <label>Website Link</label>
        <input type="text" formControlName="link" class="form-control" />
        <div class="text-danger" style="color: red"
          *ngIf="loginDetailForm.controls['link'].touched && loginDetailForm.controls['link']?.errors?.['required']">
          Please enter Website Link
        </div>
        <label>Login Id</label>
        <input type="text" formControlName="loginID" class="form-control" />
        <div class="text-danger" style="color: red"
          *ngIf="loginDetailForm.controls['loginID'].touched && loginDetailForm.controls['loginID']?.errors?.['required']">
          Please enter Login Id
        </div>
        <label>Password</label>
        <input [type]="password" formControlName="password" class="form-control" />
        <span class="showicon" *ngIf="!showPassword" (click)="showHidePass()"><i class="bi bi-eye-fill"></i></span>
        <span class="showicon" *ngIf="showPassword" (click)="showHidePass()"><i class="bi bi-eye-slash-fill"></i></span>
        <div class="text-danger" style="color: red"
          *ngIf="loginDetailForm.controls['password'].touched && loginDetailForm.controls['password']?.errors?.['required']">
          Please enter Password
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-12 text-end">
            <button (click)="addtitle()" data-bs-dismiss="modal" aria-label="Close" [disabled]="!loginDetailForm.valid"
              class="btn btn-dark w-100">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ViewUploadedDocument" tabindex="-1" aria-labelledby="ViewUploadedDocumentModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="display: flex; justify-content: space-between">
        <h5 class="modal-title" id="ViewUploadedDocumentModal">Document</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="isPdf(uploadedDocument?.url); else otherFormatsForDocument">
          <ngx-extended-pdf-viewer [src]="uploadedDocument?.url" useBrowserLocale="true"
            height="600px"></ngx-extended-pdf-viewer>
        </ng-container>
        <ng-template #otherFormatsForDocument>
          <iframe *ngIf="isWordOrExcel(uploadedDocument?.url)" [src]="getDocumentViewerUrl(uploadedDocument?.url)"
            style="width: 100%; height: 600px"></iframe>
          <img *ngIf="isImage(uploadedDocument?.url)" [src]="uploadedDocument?.url" class="img-fluid" />
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ViewClientDoc" tabindex="-1" aria-labelledby="ViewClientDocLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ViewClientDocLabel">
          Client Document : {{ selectedDocument?.name }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="alert alert-danger" role="alert">
        ⚠ Important Notice : If you are unable to view any documents, please
        note that the files may have been uploaded as a ZIP file. Kindly
        download the ZIP file to access the documents.
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <ng-container *ngIf="isPdf(selectedDocument?.file?.url); else otherFormats">
            <ngx-extended-pdf-viewer [src]="selectedDocument?.file?.url" useBrowserLocale="true"
              height="600px"></ngx-extended-pdf-viewer>
          </ng-container>
          <ng-template #otherFormats>
            <iframe *ngIf="isWordOrExcel(selectedDocument?.file?.url)"
              [src]="getDocumentViewerUrl(selectedDocument?.file?.url)" style="width: 100%; height: 600px"></iframe>
            <img *ngIf="isImage(selectedDocument?.file?.url)" [src]="selectedDocument?.file?.url" class="img-fluid" />
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- View Document Modal -->
<div class="modal fade" id="ViewCaseModal" tabindex="-1" aria-labelledby="ViewDocumentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="display: flex; justify-content: space-between">
        <h5 class="modal-title" id="ViewDocumentModalLabel">
          Case Study ({{ selectedDocument?.name }})
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="isPdf(selectedDocument?.link?.url); else otherFormats">
          <ngx-extended-pdf-viewer [src]="selectedDocument?.link?.url" useBrowserLocale="true"
            height="600px"></ngx-extended-pdf-viewer>
        </ng-container>
        <ng-template #otherFormats>
          <iframe *ngIf="isWordOrExcel(selectedDocument?.link?.url)"
            [src]="getDocumentViewerUrl(selectedDocument?.link?.url)" style="width: 100%; height: 600px"></iframe>
          <img *ngIf="isImage(selectedDocument?.link?.url)" [src]="selectedDocument?.link?.url" class="img-fluid" />
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- View StripAdd Modal -->
<div class="modal fade" id="ViewStripAdd" tabindex="-1" aria-labelledby="ViewStripAddLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" [formGroup]="addStripForm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ViewLogin">Add Strip Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- Radio Buttons to Select Upload Type -->
        <div class="form-group d-flex align-items-center mb-4">
          <label class="me-3">Select Type:</label>
          <div class="form-check me-3">
            <input type="radio" id="textOption" class="form-check-input" formControlName="type" value="Text"
              (change)="selectUploadType(true)" />
            <label for="textOption" class="form-check-label">Text</label>
          </div>
          <div class="form-check">
            <input type="radio" id="imageOption" class="form-check-input" formControlName="type" value="Image"
              (change)="selectUploadType(false)" />
            <label for="imageOption" class="form-check-label">Image</label>
          </div>
        </div>

        <!-- Conditional Rendering Based on Upload Type -->
        <div *ngIf="uploadType; else imageUploadSection">
          <!-- Text Upload Section -->
          <div class="form-group mb-3">
            <label for="textInput" class="form-label">Strip Heading :</label>
            <input type="text" id="textInput" class="form-control" placeholder="Enter Text" formControlName="text" />
            <div *ngIf="
                addStripcontrol.text.touched && addStripcontrol.text.invalid
              " class="text-danger">
              Text is required.
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="textInput" class="form-label">Strip Description :</label>
            <textarea type="text" id="textInput" class="form-control" placeholder="Enter Description"
              formControlName="description"></textarea>
            <div *ngIf="
                addStripcontrol.description.touched &&
                addStripcontrol.description.invalid
              " class="text-danger">
              Description is required.
            </div>
          </div>

          <div class="form-group mb-3">
            <ng-select id="assignTo" class="form-select custom-ng-select-option" placeholder="Select Role"
              [multiple]="true" bindLabel="name" [items]="ForTitleuserList" formControlName="roles">
            </ng-select>
          </div>

        </div>

        <!-- Image Upload Section -->
        <ng-template #imageUploadSection>
          <div class="form-group mb-3">
            <label for="imageTextInput" class="form-label">Strip Heading :</label>
            <input type="text" id="imageTextInput" class="form-control" placeholder="Enter Text"
              formControlName="imageText" />
            <div *ngIf="
                addStripcontrol.imageText.touched &&
                addStripcontrol.imageText.invalid
              " class="text-danger">
              Image Text is required.
            </div>
          </div>

          <div class="form-group mb-3">
            <ng-select id="assignTo" class="form-select custom-ng-select-option" placeholder="Select Role"
              [multiple]="true" bindLabel="name" [items]="ForTitleuserList" formControlName="roles">
            </ng-select>
          </div>

        </ng-template>

        <div class="row justify-content-end mt-4">
          <div class="col-auto">
            <button (click)="addtitle()" data-bs-dismiss="modal" aria-label="Close" class="btn btn-dark">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- View Strip image Modal -->
<div class="modal fade" id="viewstripimage" tabindex="-1" aria-labelledby="viewstripimageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="display: flex; justify-content: space-between">
        <h5 class="modal-title" id="ViewDocumentModalLabel">
          Strip Image ({{ selectViewImage?.imageText }})
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="isPdf(selectViewImage?.url); else otherFormats">
          <ngx-extended-pdf-viewer [src]="selectViewImage?.url" useBrowserLocale="true"
            height="600px"></ngx-extended-pdf-viewer>
        </ng-container>
        <ng-template #otherFormats>
          <iframe *ngIf="isWordOrExcel(selectViewImage?.url)" [src]="getDocumentViewerUrl(selectViewImage?.url)"
            style="width: 100%; height: 600px"></iframe>
          <img *ngIf="isImage(selectViewImage?.url)" [src]="selectViewImage?.url" class="img-fluid" />
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="selectedThumbnailImage" class="text-center mt-3">
                        <img [src]="selectedThumbnailImage" alt="Thumbnail Preview" class="img-fluid" />
                    </div> -->

<!-- <div class="form-group mb-3">
                        <label for="imageInput" class="form-label">Upload Image</label>
                        <input type="file" id="imageInput" class="form-control" accept="image/*"
                            (change)="onFileSelect($event)" required />
                        <div *ngIf="addStripForm.get('image')?.touched && addStripForm.get('image')?.invalid"
                            class="text-danger">
                            Image is required.
                        </div>
                    </div> -->

<!-- <div class="text-center mt-3">
                        <img *ngIf="media_Obj.videoImage && !selectedImage" [src]="media_Obj.videoImage"
                            alt="Uploaded Image" class="img-fluid mb-2" />
                        <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image" class="img-fluid mb-2" />
                    </div> -->