<main id="main">
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-end mb-4">
                <div class="col-auto mob-mb1">
                    <a href="live-projects.html" class="btn btn-outline-white w-100"> <i class="bi bi-arrow-left"></i>
                        Back</a>
                </div>
            </div>
            <form>
                <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Project Name">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="BOS ID">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Enter Email ID">
                    </div>
                    <div class="col-sm-2">
                        <div class="upload-btn-wrapper">
                            <button class="btn-upload-file"><i class="bi bi-file-earmark-arrow-up-fill"></i> Upload
                                Document</button>
                            <input type="file" name="myfile" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary w-100">ADD</button>
                    </div>

                </div>
            </form>

            <div class="table-responsive mt-5 mb-3">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>Project Title</th>
                            <th>BOS ID</th>
                            <th>Email</th>
                            <th>Screenshot</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of mailList |  paginate: { itemsPerPage: pagesize , currentPage: page, totalItems: totalRecords } ; let i = index">
                            <td><a href="javascript:;">{{item?.projectName}}</a></td>
                            <td v-align="middle">{{item?.BOSId}}</td>
                            <td>{{item?.emailId}}</td>
                            <td>
                                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#ViewScreenshot" class="btn btn-small me-2"><i class="bi bi-eye-fill"></i>
                                    View</a>
                                <a href="javascript:;" class="btn btn-small"><i
                                        class="bi bi-file-earmark-arrow-down-fill"></i> Download</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-3 align-items-center">
                <div class="row">
                  <div class="pagination">
                    <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
                  </div>
                </div>
              </div>
            <!-- <nav>
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">2</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">Next</a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </section>
</main>

<!-- View Screenshot Modal -->
<div class="modal fade" id="ViewScreenshot" tabindex="-1" aria-labelledby="ViewScreenshotLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ViewScreenshotLabel">Mail Screenshot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="assets/img/screenshot.png" class="img-fluid" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>