<main id="main" class="">
  <section class="p-0">
    <div class="table-responsive">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th width="10%"></th>
            <th width="10%">Project Title</th>
            <th width="10%">Project Description</th>
            <th width="5%">BOS ID</th>
            <th width="5%">Publish Date</th>
            <th width="5%">Category</th>
            <th width="5%">Industry</th>
            <th width="5%">Min value (GBP)</th>
            <th width="5%">Max value (GBP)</th>
            <th width="5%">Website</th>
            <th width="5%">Link to notice</th>
            <th width="8%">Created Date</th>
            <th width="5%">Status</th>
            <th width="10%">Due Date & Time</th>
            <th width="15%">Action</th>
            <th width="10%"></th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td *ngIf="!projectList?.length" colspan="15">
              <app-no-record-found></app-no-record-found>
            </td>
          </tr>

          <tr
            *ngFor="let item of projectList |  paginate: { itemsPerPage: pagesize , currentPage: page, totalItems: totalRecords } ; let i = index">
            <td> </td>
            <td><a (click)="projectDetails(item?._id)" href="javascript:;">{{item?.projectName}}</a></td>
            <td><a title="{{ item?.description }}">{{ item?.description | slice:0:10 }}</a></td>
            <td v-align="middle">{{item?.BOSID}}</td>
            <td>{{item?.publishDate | date:'dd/MM/yyyy'}}</td>
            <td>{{item?.category}}</td>
            <td>{{item?.industry}}</td>
            <td>{{item?.minValue}}</td>
            <td>{{item?.maxValue}}</td>
            <td>{{item?.website}}</td>
            <td><a href='{{item?.link}}' target="_blank">{{item?.link}}</a></td>
            <td>{{item?.createdAt | date:'dd/MM/yyyy'}}</td>
            <td>{{item?.status}}</td>
            <td>{{item?.dueDate | date:'dd/MM/yyyy, h:mm a'}}</td>
            <td><button (click)="projectDetails(item?._id)" class="btn btn-sm btn-primary px-2 py-1 fonts-12"
                style="white-space: nowrap;">View Project Details</button></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>