<main id="main" class="">
  <section class="p-0">
      <div class="table-responsive project-close">
          <table class="table table-striped align-middle">
            <thead>
              <tr>
                <th width="8%"></th>
                <th width="12%">Project Title</th>
                <th width="5%">BOS ID</th>
                <th width="5%">Publish Date</th>
                <th width="5%">Category</th>
                <th width="5%">Industry</th>
                <th width="5%">Value</th>
                <th width="5%">Website</th>
                <th width="5%">Link to notice</th>
                <th width="8%">Created Date</th>
                <th width="5%">Status</th>
                <th width="10%">Due Date & Time</th>
                <th width="15%"></th>
                <th  width="8%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td class="text-primary">Provision of MyBedsLife Student Engagement App Support Services</td>
                <td>546552</td>
                <td>2023-05-31</td>
                <td>Website</td>
                <td>School</td>
                <td>£50000</td>
                <td>Proactis</td>
                <td><a href="#">Link</a></td>
                <td>08-04-2024</td>
                <td>Status</td>
                <td>25-11-2014 & 5:00PM</td>
                <td>
                  <button routerLink="/project-manager/project/close-project-details" class="btn btn-sm btn-primary px-2 py-1" style="white-space: nowrap;font-size: 11px;position: relative; top: 35px;">View Matched Suppliers</button>
                </td>
                <td>

                </td>
              </tr>
              <tr class="bg-d3">
                  <td>  </td>
                  <td>
                      <div class="d-flex flex-column">
                          <span class="fw-bold mb-3"  style="white-space: nowrap;"> Supplier Name  </span>
                          <span>   Company Name  </span>
                      </div>
                  </td>
                  <td>
                      <div class="d-flex flex-column">
                          <span class="fw-bold mb-3" style="white-space: nowrap;"> Supplier ID </span>
                          <span>   416526</span>
                      </div>
                   </td>
                   <td>
                      <div class="d-flex flex-column">
                          <span class="fw-bold mb-3"  style="white-space: nowrap;"> Admin Name</span>
                          <span>   Ayush</span>
                      </div>
                   </td>
                   <td>
                      <div class="d-flex flex-column">
                          <span class="fw-bold mb-3"  style="white-space: nowrap;"> Status</span>
                          <span class="d-flex align-items-center"> <i class="bi bi-check-circle-fill text-green me-1"></i>  Closed</span>
                      </div>
                   </td>
                   <td>
                      <div class="d-flex flex-column">
                          <span class="fw-bold mb-3"  style="white-space: nowrap;"> Closed On</span>
                          <span  style="white-space: nowrap;">   12-Sep-2023</span>
                      </div>
                   </td>
                   <td>
                      <div class="d-flex flex-column">
                          <span class="fw-bold mb-3"  style="white-space: nowrap;"> Handover Call date</span>
                          <span>   12-Jan-2023</span>
                      </div>
                   </td>

                  <!-- <td><button class="btn btn-sm btn-primary" style="white-space: nowrap;">View Matched Suppliers</button></td> -->
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            </tbody>
          </table>
        </div>
  </section>
</main>
