<main id="main">
  <section>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
          <div class="form-group mb-0">
            <span class="input-icon"><i class="bi bi-search"></i></span>
            <input type="search" class="form-control control-search" placeholder="Search">
          </div>
        </div>
      </div>
      <div class="table-responsive mt-5 mb-3">
        <table class="table table-striped align-middle">
          <thead>
            <tr>
              <th width="200px">Supplier Name</th>
              <th>Join Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of supplierUserList |  paginate: { itemsPerPage: pagesize , currentPage: page, totalItems: totalRecords } ; let i = index">
              <td>{{item?.name}}</td>
              <td>{{item?.doj | date : 'dd/MM/yyyy'}}</td>
              <td>
                <a href="href:;" (click)="projectDetails(item?._id ,item)" class="btn btn-sm btn-primarysm"
                  title="View Details">View
                  Project</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <nav>
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">2</span>
          </li>
          <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
          <li class="page-item">
            <a class="page-link" href="javascript:;">Next</a>
          </li>
        </ul>
      </nav> -->

    </div>
  </section>

</main><!-- End #main -->