<main id="main" *ngIf="!showSuccess">
    <section class="p-2">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-end">
                <div class="col-lg-2 col-xl-2 col-12">
                    <a routerLink="/feasibility-user/feasibility-project-list" class="btn btn-outline-secondary w-100 box-shadow">Back</a>
                </div>
            </div>

            <div class="table-responsive mt-5 mb-3">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th width="100px">Project Title</th>
                            <th width="150px">Project Description</th>
                            <th>BOS ID</th>
                            <th>Publish Date</th>
                            <th>Category</th>
                            <th>Industry</th>
                            <th>Value</th>
                            <th>Project Type</th>
                            <th>Status</th>
                            <th>Due Date &amp; Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="javascript:;">{{projectDetails?.projectName}}</a></td>
                            <td><a title="{{ projectDetails?.description }}">{{ projectDetails?.description | truncate:10:true }}</a></td>
                            <td v-align="middle">{{projectDetails?.BOSID}}</td>
                            <td>{{projectDetails?.publishDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{projectDetails?.category}} <a href="javascript:;"></a></td>
                            <td>{{projectDetails?.industry}} <a href="javascript:;"></a></td>
                            <td>$ {{projectDetails?.value}}<a href="javascript:;"></a></td>
                            <td>{{projectDetails?.projectType}}</td>
                            <td>
                              {{projectDetails?.status}}
                            </td>
                            <td>25-11-2014 & 5:00PM</td>
                            <td>
                                <select class="form-select form-select-sm">
                                    <option>In-Progress, In Hold</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Documents-->
        </div>
    </section>
    <section class="pageheader bg-dark">
        <div class="container text-center">
            <p><strong>Minimum Eligibility Form</strong></p>
        </div>
    </section>
    <section>
        <div class="container">
            <form [formGroup]="eligibilityForm" (ngSubmit)="submit()">
              <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                          <label>Case Study Numbers</label>
                          <input type="number" class="form-control" formControlName="caseStudyRequired">
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                          <label>Certifications</label>
                          <input type="text" class="form-control" formControlName="certifications">
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                          <label>Policy</label>
                          <input type="text" class="form-control" formControlName="policy">
                      </div>
                  </div>
                  <!-- <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                          <label class="display-block">&nbsp;</label>
                          <button type="submit" class="btn btn-dark"><i class="bi bi-plus-lg"></i></button>
                      </div>
                  </div> -->
              </div>
            </form>
              <div class="row">
                <div class="col-12 text-center">
                  <button type="submit" (click)="submitEligibilityForm()" class="btn btn-dark">Submit</button>
                </div>
              </div>
        </div>
    </section>
</main><!-- End #main -->
<ng-container *ngIf="showSuccess">
  <section class="section-registration">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-10 col-12">
          <div class="registration-card">
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-12 text-center">
                  <img src="assets/img/success-icon.gif" width="100" class="mt-5 mb-5"/>
                  <h5 class="mb-5"><strong>
                    Project Updated Successfully.
                  </strong></h5>
                  <button class="btn btn-dark" routerLink="/feasibility-user/feasibility-project-list">
                    Next
                  </button>
                  <!-- <p class="text-muted">upport@westgateithub.com</p>
                  <p class="text-muted">+917781978685</p> -->
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
