<main id="main">
    <section class="p-2">
        <div class="container">
            <div class="row align-items-center justify-content-end">
                <div class="col-lg-2 col-xl-2 col-12">
                    <a href="project-list.html" class="btn btn-outline-secondary w-100 box-shadow">Back</a>
                </div>
            </div>

            <div class="table-responsive mt-5 mb-3">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th width="200px">Project Title</th>
                            <th>BOS ID</th>
                            <th>Publish Date</th>
                            <th>Category</th>
                            <th>Industry</th>
                            <th>Value</th>
                            <th>Project Type</th>
                            <th>Status</th>
                            <th>Due Date &amp; Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="javascript:;">Provision of MyBedsLife Student Engagement App Support Services</a></td>
                            <td v-align="middle">546552</td>
                            <td>2023-05-31</td>
                            <td>Website <a href="javascript:;" class="editbtn"><i class="bi bi-pencil-fill"></i></a></td>
                            <td>School <a href="javascript:;" class="editbtn"><i class="bi bi-pencil-fill"></i></a></td>
                            <td>£50000 <a href="javascript:;" class="editbtn"><i class="bi bi-pencil-fill"></i></a></td>
                            <td>Development</td>
                            <td>
                                In-Progress
                            </td>
                            <td>25-11-2014 & 5:00PM</td>
                            <td>
                                <select class="form-select form-select-sm">
                                    <option>In-Progress, In Hold</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Documents-->
        </div>
    </section>
    <section class="pageheader bg-dark">
        <div class="container text-center">
            <p><strong>Minimum Eligibility Form</strong></p>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Case Study Numbers</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Certifications</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Policy</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="display-block">&nbsp;</label>
                        <button type="button" class="btn btn-dark"><i class="bi bi-plus-lg"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->