.section-registration{
  background-image: url(../../../../assets/img/silver-border-simple-abstract-background.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
