<main id="main">
  <section class="casestudy-section">
    <div class="container-fluids mb-3">
      <div class="row align-items-center">
        <nav>
          <ul class="projects-nav-tab">
            <li routerLink="/super-admin/supplier-user-profile"><a class="active">Profile</a></li>
            <li routerLink="/super-admin/admin-case-study-list"><a>Case Studies</a></li>
            <li routerLink="/super-admin/super-admin-supplier-users-list"><a>Users</a></li>
            <li routerLink="/super-admin/admin-case-study-list"><a>Activity</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</main>
