<main id="main">
  <section class="casestudy-section">
    <div class="container-fluids mb-3">
      <div class="row align-items-center">
        <nav>
          <ul class="projects-nav-tab">
            <li routerLink="/super-admin/supplier-user-profile">
              <a>Profile</a>
            </li>
            <li routerLink="/super-admin/admin-case-study-list">
              <a>Historical Data</a>
            </li>
            <li routerLink="/super-admin/expertise-list">
              <a class="active">Case Studies</a>
            </li>
            <li routerLink="/super-admin/supplier-user-activity">
              <a>Activity</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 col-8">
          <h4 class="text-theme mb-4"><strong>Case Studies</strong></h4>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped align-middle">
          <thead>
            <tr>
              <th>Expertise</th>
              <th>Upload Files</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!expertiseList?.length">
              <td colspan="2">
                <app-no-record-found></app-no-record-found>
              </td>
            </tr>
            <tr *ngFor="let item of expertiseList | paginate: { itemsPerPage: pagesize, currentPage: page, totalItems: totalRecords }">
              <td>{{ item }}</td>
              <td>
                <input type="file" multiple (change)="onFilesSelected($event, item)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
