<main id="main">
    <section class="casestudy-section">
        <div class="container">
            <h4 class="text-theme mb-4"><strong>Case Studies</strong></h4>
            <div class="row">
                <div class="col-lg-4 col-xl-4 col-12">
                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-select">
                                <optgroup></optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-5 col-12">
                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Sub-Category</label>
                        <div class="col-sm-9">
                            <select class="form-select">
                                <optgroup></optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 col-12 text-end">
                    <a href="javascript:;" class="btn btn-primary btn-sm"><i
                            class="bi bi-file-earmark-arrow-up-fill"></i> Upload
                        Document</a>
                    <a href="javascript:;" class="btn btn-primary btn-sm">Add</a>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-lg-2 col-xl-2 col-12">
                    <div class="form-group">
                        <span class="input-icon"><i class="bi bi-filter"></i></span>
                        <select class="form-select ps-5">
                            <option>Filter By</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="p-0">
        <div class="container">
            <div class="card card-gradient1 border-radius16 mb-4"  *ngFor="let item of caseStudyList"pan>
                <div class="card-body">
                    <div class="row align-items-center" >
                        <div class="col-lg-2 col-xl-2 col-12">
                            <p class="mb-0"><strong>{{item?.name}}</strong></p>
                        </div>
                        <div class="col-lg-7 col-xl-7 col-12">
                            <p class="mb-0 p-13">{{item?.name}}</p>
                        </div>
                        <div class="col-lg-3 col-xl-3 col-12 text-center">
                            <a href="javascript:;" class="btn btn-primarysm"><i class="bi bi-eye-fill"></i> View</a>
                            <a href="javascript:;" class="btn btn-primarysm"><i
                                    class="bi bi-file-earmark-arrow-down-fill"></i>
                                Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->