<main id="main">
    <section class="casestudy-section">
        <div class="container-fluid mb-3">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">

                <div class="sort-widget d-flex align-items-center gap-3">

                    <div class="d-flex align-items-center gap-3">
                        <!-- Expired Project Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="expiredProject" [(ngModel)]="isExpired"
                                (change)="searchtext()">
                            <label class="form-check-label" for="expiredProject">Expired</label>
                        </div>

                        <!-- DPS/Framework Checkbox (Value = 1) -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="dpsFramework"
                                (change)="updateCategorisation('DPS/Framework', $event)">
                            <label class="form-check-label" for="dpsFramework">DPS/Framework</label>
                        </div>

                        <!-- DTD Checkbox (Value = 2) -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="dtd"
                                (change)="updateCategorisation('DTD', $event)">
                            <label class="form-check-label" for="dtd">DTD</label>
                        </div>
                    </div>


                    <h6 class="p-600 me-3">Date Range</h6>
                    <form class="d-flex align-items-center gap-2" (ngSubmit)="getDataByStatus()">
                        <div class="input-group">
                            <input class="form-control" placeholder="dd-MM-yyyy" [formControl]="trackerStartDate"
                                ngbDatepicker #startDatePicker="ngbDatepicker" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="startDatePicker.toggle()"
                                type="button">
                            </button>
                        </div>
                        <div class="input-group">
                            <input class="form-control" placeholder="dd-MM-yyyy" [formControl]="trackerEndDate"
                                ngbDatepicker #endDatePicker="ngbDatepicker" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="endDatePicker.toggle()"
                                type="button">
                            </button>
                        </div>
                    </form>
                </div>

                <div class="d-flex align-items-center flex-grow-1">
                    <div class="form-group mb-0 flex-grow-1">
                        <span class="input-icon"><i class="bi bi-search"></i></span>
                        <input class="form-control control-search"
                            placeholder="Search by BOS ID, Project name, Client name, Website, Notice reference, Link to notice"
                            type="text" [(ngModel)]="searchText" (input)="searchtext()" />
                    </div>
                    <i class="bi bi-info-circle-fill ms-2" data-bs-toggle="tooltip"
                        title="Search using BOS ID, Project name, Client name, Website, Notice reference">
                    </i>
                </div>

                <nav id="navbar" class="navbar p-0">
                    <ul class="p-0 m-0 d-flex align-items-center">
                        <li class="dropdown position-relative">
                            <span class="btn btn-primary">+ Add Project</span>
                            <ul class="dropdown-menu position-absolute">
                                <li><a routerLink="/super-admin/super-admin-add-project">Single Entry</a></li>
                                <li><a (click)="openAddTeamModal()">Bulk Entry</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <h5 class="text-theme"><strong>Feasibility Status</strong></h5>
                <div class="col-lg-12 col-xl-12 col-md-6 col-sm-6 col-12 mb-4" style="cursor: pointer">
                    <ul class="taskuserList d-flex flex-wrap list-unstyled">
                        <li *ngFor="let item of feasibilityData" class="me-3">
                            <div (click)="filter(item.status, 'feasibility')" (click)="selectStatus(item.status)"
                                [ngClass]="{ 'text-danger': selectedStatus === item.status }">
                                {{ item.status }} : {{ item.count }} : GBP
                                {{ item.value | number : "1.0-2" }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <h5 class="text-theme"><strong>Bid Status</strong></h5>
                <div class="col-lg-12 col-xl-12 col-md-6 col-sm-6 col-12 mb-4" style="cursor: pointer">
                    <ul class="taskuserList d-flex flex-wrap list-unstyled">
                        <li *ngFor="let item of bidData" class="me-3">
                            <div (click)="filter(item.status, 'bid')" (click)="selectBidStatus(item.status)"
                                [ngClass]="{ 'text-danger': selectedBidStatus === item.status }">
                                {{ item.status }} : {{ item.count }} : GBP
                                {{ item.value | number : "1.0-2" }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12">
                <div class="table-responsive mt-5 mb-3">
                    <table class="table table-striped align-middle">
                        <thead>
                            <tr>
                                <th>Project Title</th>
                                <th>BOS ID</th>
                                <th style="cursor: pointer" (click)="sort('publishDate')">
                                    Publish Date <i class="bi bi-sort-up"></i>
                                </th>
                                <th style="cursor: pointer" (click)="duedatesort('dueDate')">
                                    Due Date & Time <i class="bi bi-sort-up"></i>
                                </th>
                                <th>Feasibility Status</th>
                                <!-- <th>Feasibility Assign User</th> -->
                                <th>Bid Status</th>
                                <th>Bid Assign User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="!projectList?.length" colspan="14">
                                    <app-no-record-found></app-no-record-found>
                                </td>
                            </tr>

                            <tr *ngFor="
                    let item of projectList
                      | paginate
                        : {
                            itemsPerPage: pagesize,
                            currentPage: page,
                            totalItems: totalRecords
                          };
                    let i = index
                  ">
                                <td>
                                    <a href="javascript:;" (click)="projectDetails(item?._id)">{{
                                        item?.projectName
                                        }}</a>
                                </td>
                                <td v-align="middle">{{ item?.BOSID }}</td>
                                <td>{{ item?.publishDate | date : "dd/MM/yyyy" }}</td>
                                <td>{{ item?.dueDate | date : "dd/MM/yyyy, h:mm a" }}</td>
                                <td>{{ item?.status }}</td>
                                <!-- <td>{{ item?.assignFeasibilityUser[0]?.name }}</td> -->
                                <td>{{ item?.bidManagerStatus }}</td>
                                <td>{{ item?.assignBidmanager[0]?.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-3 align-items-center">
                    <div class="row">
                        <div class="pagination">
                            <pagination-controls (pageChange)="paginate($event)"
                                [idMaxSize]="100"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>