<!-- ======= Header ======= -->
<header id="header">
  <div class="container d-flex align-items-center">
    <a routerLink="supplier-admin/supplier-home" class="logo me-auto"><img src="assets/img/wgih-logo.svg" alt=""
        class="img-fluid"></a>
    <nav id="navbar" class="navbar">
      <!-- <ul>
        <li><a class="nav-link active" routerLink="/supplier-admin/supplier-dashboard-header">Dashboard</a></li>

        <li><a class="nav-link" routerLink="/supplier-admin/project-list">Projects</a></li>

        <li><a class="nav-link" routerLink="/supplier-admin/case-studies-list">Case Studies</a></li>

        <li><a class="nav-link" routerLink="/supplier-admin/manage-user">Manage Users</a></li>

        <li class="dropdown"><a href="javascript:;">
            <div class="login-avtar">
              <img src="assets/img/face1.jpg" />
            </div>
            <span>{{loginUser?.userName}}</span> <i class="bi bi-chevron-down"></i>
          </a>
          <ul>
            <li><a routerLink="/supplier-admin/supplier-user-profile">Profile Seting</a></li>
            <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
          </ul>
        </li>

      </ul> -->
      <ul>

        <li class="nav-link noarrowdrop" *ngFor="let item of navUrlArr">
          <a 
            [class.active]="(item.route.includes(router.url))" class="nav-link "
            data-toggle="tab" [routerLink]="item.route">
            <span>{{item.titel}}</span>
          </a>
        </li>

        <li class="dropdown"><a href="javascript:;">
            <div class="login-avtar">
              <img src="assets/img/face1.jpg" />
            </div>
            <span>{{loginUser?.userName}}</span> <i class="bi bi-chevron-down"></i>
          </a>
          <ul>
            <li><a routerLink="/supplier-admin/supplier-user-profile">Profile Seting</a></li>
            <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
          </ul>
        </li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header><!-- End Header -->